
.light {
}

.dark {
}

.border-top {
}

.border-bot {
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.logo {
}

.hidden__slide {
  visibility: hidden;
  height: 0;
}

.margin {
  margin: 0;
  padding: 0;
}

.nomarker {
  list-style: none;
  li:before {
    display: none;
  }
}

.semibold {
  font-weight: 500;
}

.hidden_element {
  display: none;
}

.nonetransformtext {
  text-transform: none;
}

.clearfix {
  /* margin:0;
   padding:0;
   height:0;
   clear: both;*/
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.opacity (@op: 1) {
  opacity: @op;
}

.size(@w:80px, @h:80px) {
  width: @w !important;
  height: @h !important;
  min-width: @w !important;
  min-height: @h !important;
}

.transition(@t: 0.5s) {
  -webkit-transition: all @t linear;
  -moz-transition: all @t linear;
  -ms-transition: all @t linear;
  -o-transition: all @t linear;
  transition: all @t linear;
}

.filter(@effect: blur(5x)) {
  -webkit-filter: @effect;
  -moz-transition: @effect;
  -ms-transition: @effect;
  -o-transition: @effect;
  transition: @effect;
}

.double-gradient(@startColor, @endColor, @startPosition: 0%, @nedPosition: 100%) {
  background: @startColor;
  background: -moz-linear-gradient(top, @startColor @startPosition, @endColor @nedPosition);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(@startPosition, @startColor), color-stop(@nedPosition, @endColor));
  background: -webkit-linear-gradient(top, @startColor @startPosition, @endColor @nedPosition);
  background: -o-linear-gradient(top, @startColor @startPosition, @endColor @nedPosition);
  background: -ms-linear-gradient(top, @startColor @startPosition, @endColor @nedPosition);
  background: linear-gradient(to bottom, @startColor @startPosition, @endColor @nedPosition);
  filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr=" @startColor ~", endColorstr=" @endColor ~", GradientType=0)";
  /* IE6-9 */
}

.rounded-corners(@percentage) {
  border-radius: @percentage;
}

.link-style(@decoration: none) {
  .transition;
  text-decoration: @decoration;
  &:hover {
    text-decoration: @decoration;
  }
}

.slider(@height) {
  height: @height;
  .clearfix;
  &__i {
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
  }
  &__i__caption__wrapper {
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &__i__caption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 870px;
    min-height: 50px;
    padding: 20px 30px;
    background-color: rgba(0, 0, 0, .5);
    color: @white_color;
  }
  &__column {
    .column();
  }
}

.column() {
  width: 50%;
  height: 100%;
  padding: 20px;
  color: @white_color;
  p {
    margin: 10px 0;
  }
  .column__header-first {
    font-size: 52px;
    font-weight: 800;
    line-height: 1;
    margin: 10px 0;
  }
  .column__header-second {
    font-size: 22px;
    font-weight: 600;
  }
  .column__header-third {
    font-size: 16px;
    font-weight: 600;
  }
  .column__introtext {
    color: @slider_capture_bg_color_light;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .column__conditions {
    color: @slider_capture_bg_color_light;
    font-size: 12px;
  }
  &.left__column {
    padding-right: 10px;
  }
  &.right__column {
    padding-left: 10px;
  }
  .column__regular {
    font-size: 1rem;
    font-weight: 500;
  }
}