/* Styles only for this project */

body {
  &.for_menu {
    overflow: hidden;
  }
}

form {
  color: @white_color;
}

textarea {
  resize: none;
}

.c_fullimgheader {
  position: relative;
  top: 0;
  height: auto;
  background-color: transparent;
  z-index: 0;
  .header__inner {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header__inner__content {
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    background-color: rgba(0, 0, 0, .2);
    ;
  }
  .arrow_wrapper {
    position: inherit;
    padding: 1rem 0 0.5rem;
    .arrow {
      height: auto;
      padding-top: 1rem;
      background-size: auto 15px;
      background-position-x: center;
      background-position-y: 80%;
      text-align: center;
      font-size: 14/16rem;
      padding-bottom: 3rem;
      transition: background-position-y .3s ease-out;
      &:hover {
        text-decoration: none;
        background-position-y: 100%;
      }
    }
  }
}

.header__inner__head {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  opacity: 0;
  z-index: 5;
  transition: opacity 1s ease;
}

.header__inner__background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header__title {
  height: 500px;
  display: flex;
  align-items: flex-end;
  text-shadow: 1px 1px 0 @mask_header_dark;
}

header {
  a.button.calltoaction {
    margin-top: .5rem;
  }
}

.white__wrapper {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  //background-color: rgba(0, 0, 0, .1);
  z-index: -1;
  .white__inner__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    .white__inner {
      position: absolute;
      bottom: 0;
      top: auto !important;
      left: 0;
      width: 200%;
      height: 100%;
      transform: rotateZ(-10deg);
      transform-origin: 0 100% 0;
      -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .4px);
      -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, .4px);
      box-shadow: 0 5px 15px rgba(0, 0, 0, .4px);
    }
  }
}

.main_phone {
  font-weight: bold;
}

.top__menu__left {
  position: relative;
  top: 0;
  &__desc {
    &__long {
      line-height: 1.2;
      font-weight: bold;
    }
  }
}

.menu__header {
  margin-top: 140px;
  position: relative;
  &__lst {
    width: 100%;
    margin: 0;
    list-style: none;
    padding-top: @menu_vertical_padding;
    padding-bottom: @menu_vertical_padding;
  }
  &__i {
    position: relative;
    text-align: center;
    z-index: 2;
    &:not(:last-child) {
      padding-bottom: 10px;
      margin-bottom: 20px;
      &:after {
        content: '';
        display: block;
        border: 1px solid @menu_vertical_line_color;
        width: 2px;
        height: 20px;
        position: absolute;
        left: 50%;
        top: 100%;
        z-index: 0;
      }
    }
    &:not(:first-child) {
      padding-top: 10px;
    }
    .menu__header__i__a {
      font-size: 16px;
      color: @menu_vertical_color !important;
      padding: 10px 20px;
      &:hover {
        color: @menu_vertical_color !important;
        text-decoration: none;
      }
    }
  }
  &__pointer {
    position: absolute;
    background-color: #006898;
    transition: all .3s ease;
  }
}

.sticky__menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  background-color: @menu_sticky_bg_color;
  color: @menu_sticky_color;
  box-shadow: 0 2px 10px 0 #fff;
  z-index: 2;
  opacity: 0;
  transition: opacity .5s;
  /*-webkit-transition: height .3s;
  -moz-transition: height .3s;
  -ms-transition: height .3s;
  -o-transition: height .3s;
  transition: height .3s;*/
  &:hover {
    background-color: @menu_sticky_bg_hover_color;
  }
  &__wrapper {
    height: 100%;
    position: relative;
    padding: @menu_sticky_padding @menu_sticky_padding;
    -webkit-transition: height .3s;
    -moz-transition: height .3s;
    -ms-transition: height .3s;
    -o-transition: height .3s;
    transition: height .3s;
    overflow: auto;
  }
  &__inner {
    height: auto;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
  }
  &__item {
    transition: opacity .2s;
  }
  &__phone {
    padding-top: 13px;
  }
  &__close {
    position: absolute;
    top: @menu_sticky_collapsed_padding;
    right: @menu_sticky_collapsed_padding;
    font-size: 1.4em;
    padding: 0;
    margin: 0;
    border-radius: 0;
    color: @menu_sticky_color;
  }
  &__lst {
    margin: 0;
    list-style: none;
    color: inherit;
    .sticky__menu__lst__i {
      display: inline-block;
      padding: 10px 20px;
      color: inherit;
      .sticky__menu__lst__i__a {
        font-size: @menu_sticky_fontsize;
        font-weight: @menu_sticky_fontweight;
        color: @a_color_dark;
        text-decoration: none;
        &:hover {
          color: @a_hover_dark;
          text-decoration: none;
        }
      }
    }
  }
  &__title {
    cursor: pointer;
    font-size: @menu_sticky_title_fontsize;
    font-weight: @menu_sticky_title_fontweight;
    text-indent: -9999px;
    height: 50px;
    width: 165px;
    background-image: url(../images/ibtlogo_white.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
  }
}

#advantages {
  h2 {
    margin-bottom: 0px;
  }
  .margin_top,
  .margin_top_small {}
  .c_roundimg {
    width: 120px;
    height: 120px;
  }
  .c-img_text {
    .c-img_text-inner {
      .c-img_text-text-wrapper {
        font-size: 13/16rem;
        text-align: center;
      }
      .c-img_text-img {
        .c-img_text-img_icon {
          background-size: contain;
        }
      }
    }
  }
}


.bx-wrapper {
  position: relative;
  .bx-controls {
    //position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    .bx-controls-direction {
      height: 100%;
      max-width: 64rem;
      margin: 0 auto;
      .bx-prev,
      .bx-next {
        background-repeat: no-repeat;
        background-position: center center;
        text-indent: -9999px;
        display: block;
        top: 0;
        bottom: 0;
        position: absolute;
        width: 60px;
        &.disabled {
          outline: none !important;
          border: none !important;
          background-color: transparent !important;
          opacity: 0.2;
        }
      }
      .bx-prev {
        background-image: url(../i/arrow_left.svg);
        left: 40px;
      }
      .bx-next {
        right: 40px;
        background-image: url(../i/arrow_right.svg);
      }
    }
  }
  .bx-pager {
    text-align: center;
    bottom: 20px;
    position: absolute;
    width: 100%;
    line-height: 1;
    .bx-pager-item {
      &:last-child {
        margin: 0;
      }
      cursor: pointer;
      margin-right: 16px;
      display: inline-block;
      a {
        display: block;
        width: 12px;
        height: 12px;
        background-color: @slider_item_color_light;
        border: 1px solid @slider_item_color_light;
        text-indent: -9999px;
        //box-sizing: content-box;
        .rounded-corners(50%);
        .link-style();
        .transition(0.2s);
        &.active {
          //background-color: @slider_item_color_dark;
          border-color: @slider_item_color_dark;
          box-shadow: 0 0 3px 3px #fff;
        }
        &:hover {
          //border-color: darken(#efefef, 20%);
          box-shadow: 0 0 3px 3px @slider_item_color_dark;
        }
      }
    }
  }
}

.gallery {
  &__slider {
    //max-height: 70%;
    .slider(800px);
  }
}

.panoramas {
  .panoramas__slider {
    .slider(246px);
  }
  &__slider__caption__wrapper {
    position: static;
    width: 100%;
    &.day_caption {
      background-color: @slider_capture_bg_color_light;
      .panoramas__slider__caption {
        color: @slider_capture_text_color_light;
      }
    }
    &.night_caption {
      background-color: @slider_capture_bg_color_dark;
    }
  }
  &__slider__caption {
    width: 100%;
    max-width: 870px;
    min-height: 130px;
    padding: 40px;
    color: @slider_capture_text_color_light;
  }
  &__slider__image {
    /*min-height: 200px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat*/
  }
  .bx-pager {
    z-index: 99;
  }
}

.offices {
  &__slider {
    //max-height: 70%;
    .slider(800px);
    perspective: 100vw;
    &__i {
      &__caption{
        background-color:  rgba(0, 69, 101, 0.7);
        &__wrapper {
          transform: translateX(0px) rotate3d(0,1,0,0deg);
          transition: transform .5s ease-out;
        }
      }
      &.office_left {
        .offices__slider__i__caption__wrapper {
          transform: translateX(-300px) rotate3d(0,1,0,-10deg);
          transition: transform 0s;
        }
      }
      &.office_right {
        .offices__slider__i__caption__wrapper {
          transform: translateX(300px) rotate3d(0,1,0,10deg);
          transition: transform 0s;
        }
      }
    }
  }
  &__params {
    color: @slider_capture_text_color_light;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__params__param {
    font-size: 52px;
    font-weight: 800;
  }
  &__params__title {
    font-size: 16px;
    font-weight: 600;
    color: @slider_capture_text_color_light;
  }
  .leasing__price {
    background-color: rgba(153, 153, 153, .5);
    padding: 10px;
    p {
      text-align: right;
    }
    .column__header-second {
      color: @darkest_grey_color;
    }
  }
}

.conference {
  //max-height: 70%;
  .slider(800px);
  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  &__tabs__wrapper {
    max-width: 870px;
    width: 100%;
    .tabs {
      border: none;
      background: transparent;
      li {
        padding: 0;
        padding-bottom: 4px;
        background-color: transparent;
        text-align: center;
        color: @white_color;
        a {
          color: inherit;
          font-size: 14px;
          font-weight: 600;
          text-decoration: none;
          background-color: rgba(0, 0, 0, .7);
          &:hover {
            text-decoration: none;
            background-color: rgba(153, 153, 153, .4);
          }
        }
        &.active-tab {
          background-color: transparent;
          a {
            background-color: rgba(153, 153, 153, .4);
          }
        }
        &:not(:last-child) {
          padding-right: 4px;
        }
      }
    }
  }
  &__tabs__content {
    display: flex;
    border: none;
    color: @white_color;
    background-color: rgba(0, 0, 0, .7);
    div,
    p {
      color: @white_color;
    }
  }
  &__tabs__column {
    .column();
    &.right__column {
      text-align: right;
    }
    button {
      &.button {
        font-size: 14px;
        padding: 20px;
        border-radius: 0;
        color: @white_color;
        border-color: @white_color;
        min-width: 210px;
      }
    }
  }
}

.partners__lst {
  margin: 0;
  list-style: none;
  &__i {
    margin-bottom: 20px;
  }
  &__i__img {
    display: block;
    margin: auto;
    width: 120px;
    height: 120px;
    min-width: 120px;
    min-height: 120px;
  }
}

.modal {
  &__header {
    color: @modal_header;
  }
  &__overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .99);
    width: 100%;
    height: 100%;
    padding: 60px 0;
    &.opened {
      display: block;
    }
    .close-button {
      top: 2rem;
      right: 2rem;
      min-width: 1em;
      width: 3em;
      height: 3em;
      padding: 0;
      margin: 0;
      border-radius: 0;
      border: 2px solid @bordercolor_light;
    }
  }
  &__image {
    margin: 40px 0;
    img {
      display: block;
      margin: auto;
    }
  }
}

.datetime-fieldset {
  .date-fieldset,
  .time-fieldset {
    width: 50%;
    display: inline-block;
    padding: 0 10px;
  }
  input[type="date"],
  input[type="time"] {
    width: 100%;
    display: inline-block;
  }
  .time-fieldset {
    float: right;
    clear: both;
  }
}

.towers {
  &__image {
    //height: 500px;
  }
  &__block {
    position: relative;
    padding-top: 20px;
  }
  .tower {
    height: 100%;
    position: absolute;
    top: 0;
    cursor: pointer;
    .title {
      text-align: center;
    }
    &.tower-0 {
      width: 29%;
      left: 0;
    }
    &.tower-1 {
      width: 26%;
      left: 29%;
    }
    &.tower-2 {
      width: 33%;
      left: 55%;
    }
    &.active-tower {
      background: rgba(255, 255, 255, .5);
      color: @active-element-color;
      .title {
        color: @active-element-color;
      }
    }
  }
  .floors__block {
    .floor__schema__image {
      display: block;
      margin: auto;
    }
    .floors__lst {
      .floors__lst__i {
        margin: 0;
        padding-left: 2em;
        height: 2.5em;
        cursor: pointer;
        &:before {
          justify-content: center;
        }
        &:after {
          display: none;
        }
        &.active-floor {
          &:before {
            background-color: @legend_dark_color;
          }
        }
      }
    }
    .floor__plan__legend {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      .legend-element {
        width: 50%;
        display: flex;
        .legend-color {
          border: 1px solid #222222;
          width: 50px;
          margin-right: 10px;
        }
      }
      .free-apt {
        background-color: @legend_light_color;
      }
      .taken-apt {
        background-color: @legend_dark_color;
      }
    }
  }
}

.hamburger__button {
  width: @hamburger_btn_width;
  height: @hamburger_btn_height;
  .middle {
    transform-origin: 50% 50% 0;
  }
  .middle,
  &:before,
  &:after {
    position: absolute;
    width: 100%;
    height: 1px;
    border: 1px solid #fff;
    border-radius: 3px;
    -webkit-transition: transform .3s, opacity .2s, width .2s;
    -moz-transition: transform .3s, opacity .2s, width .2s;
    -ms-transition: transform .3s, opacity .2s, width .2s;
    -o-transition: transform .3s, opacity .2s, width .2s;
    transition: transform .3s, opacity .2s, width .2s;
  }
  &:before,
  &:after {
    content: '';
    left: 0;
    transform-origin: 0 50% 0;
  }
  &:before {
    top: -1px;
  }
  .middle {
    top: ~'calc(50% - 1px)';
  }
  &:after {
    bottom: -1px;
  }
}

.sticky__menu {
  &:not(.sticky__menu__collapsed) {
    .hamburger__button {
      &:before {
        width: @hamburger_line_rotated_width;
        -webkit-transform: rotateZ(@hamburger_rotate_angle);
        -moz-transform: rotateZ(@hamburger_rotate_angle);
        -ms-transform: rotateZ(@hamburger_rotate_angle);
        -o-transform: rotateZ(@hamburger_rotate_angle);
        transform: rotateZ(@hamburger_rotate_angle);
      }
      .middle {
        opacity: 0;
      }
      &:after {
        width: 129%;
        -webkit-transform: rotateZ(-@hamburger_rotate_angle);
        -moz-transform: rotateZ(-@hamburger_rotate_angle);
        -ms-transform: rotateZ(-@hamburger_rotate_angle);
        -o-transform: rotateZ(-@hamburger_rotate_angle);
        transform: rotateZ(-@hamburger_rotate_angle);
      }
    }
  }
}