/* Горизонтальное 320х480 */

@media screen and(max-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
}

/* Вертикальное 480х320*/

@media screen and(min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
  .top__menu {
    .top__menu__right {
      margin-top: @topmenuoffsetmedium;
      float: none;
      text-align: center;
    }
  }
  
  .c_fullheight {
    height: auto;
    padding-top: 20px;
    .header__title__h1 {
      font-size: 1.3em;
      margin: 20px 0;
    }
    .header__title__h2 {
      display: none;
    }
    .header__buttons__wrapper {
      margin: 20px 0 0;
      .header__to__order__btn {
        padding: 15px;
        margin: 15px;
        .order__btn__text {
          font-size: 1em;
        }
      }
    }
  }
  
  .c_block_horizontal {
    flex-direction: column;
  }
}

/* Горизонтальное 360х640 */

@media screen and(max-device-width: 360px) and (max-device-width: 640px) and (orientation: landscape) {

}

/* Вертикальное 640х360 */

@media screen and(min-width: 360px) and (max-width: 640px) and (orientation: portrait) {
  .top__menu {
    .top__menu__right {
      margin-top: @topmenuoffsetmedium;
      float: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
    }
  }
  
  .c_fullheight {
    .header__title__h2 {
      display: block;
      font-size: 1.2em;
      margin: 20px 0;
    }
  }
}

/* Горизонтальное 384х640 */

@media screen and(max-device-width: 640px) and (max-device-height: 384px) and (orientation: landscape) {
}

/* Вертикальное 640х384 */

@media screen and(max-device-width: 384px) and (max-device-height: 640px) and (orientation: portrait) {
}

/* Горизонтальное 414x736 iPhone 6 Plus */

@media screen and(max-device-width: 736px) and (max-device-height: 414px) and (orientation: landscape) {
  .c_fullheight {
    height: auto;
    .header__title__h2 {
      display: none;
    }
    .header__buttons__wrapper {
      padding-top: 20px;
      .header__to__order__btn {
        padding: 15px;
        margin: 20px 0;
      }
    }
  }
  
  .white__wrapper {
    display: none;
  }
  
  .top__menu__left__wrapper {
    .top__menu__left {
      display: flex;
    }
  }
}

/* Вертикальное 740x420 iPhone 6 Plus */

@media screen and(max-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) {
  .c_fullheight {
    height: calc(~"100vh - 240px");
    .header__buttons__wrapper {
      margin-top: 20px;
      .header__to__order__btn {
        padding: 20px;
        margin: 20px 0;
      }
    }
  }
}

/* Media */

/* iPad 768px - portrait */
@media screen and (max-width: 1024px) and (max-height: 768px) {
  header {
    &.c_fullimgheader {
      .white__wrapper {
        .white__inner {
          &__logo {
            bottom: 82px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px), (max-height: 479px) {
  .white__wrapper {
    display: none !important;
  }
  
  .top__menu__left__wrapper {
    .top__menu__left {
      display: flex !important;
    }
  }
}

@media screen and (max-width: 769px) {
  header {
    &.c_fullimgheader {
      .header__inner__content {
        background-color: rgba(0, 0, 0, .7);
        .top__menu__left__wrapper {
          display: flex;
          justify-content: center;
          .top__menu__left {
            display: flex;
            .top__menu__left__desc {
              .top__menu__left__desc__long {
                color: @title_color_dark !important;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 63.99rem) {
  header,
  section {
    /*padding: 3.125rem 0;
        border: 10px solid red;*/
  }
  
  h1 {
    font-size: calc(@h1_size * @media_64_multiplier);
  }
  
  h2 {
    font-size: calc(@h2_size * @media_64_multiplier);
  }
  
  h3 {
    font-size: calc(@h3_size * @media_64_multiplier);
  }
  
  .c_content {
    p,
    li {
      font-size: calc(@text_size * @media_64_multiplier);
    }
    .note {
      font-size: calc(@note_size * @media_64_multiplier);
    }
    .accent {
      font-size: calc(@accenttext_size * @media_64_multiplier);
    }
    li {
      margin-bottom: calc(@margin_small * @media_64_multiplier / 2);
    }
    ul {
      margin-bottom: calc(@margin_small * @media_64_multiplier / 2);
      margin-bottom: calc(@margin_small * @media_64_multiplier / 2);
    }
  }
  
  .c_fullimgheader {
    .introtext {
      font-size: @accenttext_size;
    }
    .c_menu {
      padding-top: @margin_small;
      /*display: flex;
            align-items: center;*/
      li,
      span {
      }
    }
  }
  
  .white__wrapper {
    .white__inner__wrapper {
      .white__inner {
        &__logo {
          bottom: 107px;
          left: 90px;
        }
      }
    }
  }
  
  .c_logo {
    text-align: center;
  }
  
  .c_block {
    margin-bottom: @margin_middle;
  }
  
  .top__menu {
    padding-top: 70px;
  }
  
  .sticky__menu {
    height: 100%;
    z-index: 4;
    background-color: @menu_sticky_bg_dark;
    &&__collapsed {
      height: auto;
      background-color: @menu_sticky_bg_color;
      &:hover {
        background-color: @menu_sticky_bg_hover_color;
      }
      .sticky__menu__wrapper {
        overflow: auto;
        height: 0;
      }
      .sticky__menu__inner {
        display: none;
      }
    }
    &:hover {
      background-color: @menu_sticky_bg_dark;
    }
    &__wrapper {
      height: 100vh;
      overflow: scroll;
      padding: @menu_sticky_collapsed_padding * 1.5 @menu_sticky_collapsed_padding;
    }
    &__inner {
      flex-direction: column;
      
    }
    &__item {
      padding: 20px 0;
    }
    &__lst {
      margin: 0;
      list-style: none;
      color: inherit;
      .sticky__menu__lst__i {
        display: block;
        position: relative;
        padding: 10px 0;
        color: inherit;
        z-index: 3;
        &:not(:last-child) {
          padding-bottom: 10px;
          margin-bottom: 40px;
          &:after {
            content: '';
            display: block;
            border: 1px solid @menu_vertical_line_color;
            width: 2px;
            height: 40px;
            position: absolute;
            left: 10px;
            top: 100%;
            z-index: 0;
          }
        }
        &:not(:first-child) {
          padding-top: 10px;
        }
        .sticky__menu__lst__i__a {
          font-size: @menu_sticky_fontsize;
          font-weight: @menu_sticky_fontweight;
          color: inherit;
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    &__title {
      font-size: @menu_sticky_title_fontsize;
      font-weight: @menu_sticky_title_fontweight;
    }
  }
  
  .towers {
    .floors__block {
      margin: 20px 0 0;
    }
  }
  
  .datetime-fieldset {
    .date-fieldset,
    .time-fieldset {
      width: 50%;
    }
  }
}

@media screen and (max-width: 39.9rem) {
  h2 {
    font-size: @h2_size / 2;
  }
  
  .c_fullimgheader {
    .header-main-text {
      text-align: center;
    }
    .company__desc {
      display: none;
    }
    .c_topmenu {
      margin-bottom: 0;
      opacity: 0;
      .top__menu__left {
        display: flex;
      }
      
      .c_top_phone {
        float: none;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
      }
    }
  }
  
  .introtext {
    font-size: 0.95em;
  }
  
  .accent {
    .center;
  }
  
  .c_process {
    .c_block_horizontal {
      &:before {
        width: 3em;
        height: 3em;
        padding: 1.1em;
      }
      &:after {
        left: 1.5em;
        top: 3em;
      }
    }
  }
  
  .bx-controls {
    &:not(.small-directions) {
      display: none;
    }
  }
  
  .partners-section {
    .bx-viewport {
      height: auto;
    }
  }
  
  .terms__link {
    display: block;
    text-align: left;
    padding: 10px 0;
  }
  
  .social__buttons__wrapper {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  
  .c-img_text {
    .c-img_text-inner {
      flex-direction: column;
      align-items: center;
      .c-img_text-text-wrapper {
        padding: 20px 0 0;
      }
    }
  }
  
  footer {
    .small-12 {
      text-align: center;
      & + .small-12 {
        margin-top: 15px;
      }
    }
  }
}

@media screen and (max-width: 50rem) {
  header,
  section {
    /*border: 10px solid blue;*/
  }
  
  section {
    padding-top: calc(@section_top_padding * @media_50_multiplier);
    padding-bottom: calc(@section_bottom_padding * @media_50_multiplier);
  }
  
  h1 {
    font-size: calc(@h1_size * @media_50_multiplier);
  }
  
  h2 {
    font-size: calc(@h2_size * @media_50_multiplier);
  }
  
  h3 {
    font-size: calc(@h3_size * @media_50_multiplier);
  }
  
  .c_title {
    font-size: calc(@title_size * @media_50_multiplier);
  }
}

@media screen and (max-width: 39.99rem) {
  header,
  section {
    /*border: 10px solid white; */
  }
  
  section {
    padding-top: calc(@section_top_padding * @media_39_multiplier);
    padding-bottom: calc(@section_bottom_padding * @media_39_multiplier);
  }
  
  h1 {
    font-size: calc(@h1_size * @media_39_multiplier);
  }
  
  h2 {
    font-size: calc(@h2_size * @media_39_multiplier);
  }
  
  h3 {
    font-size: calc(@h3_size * @media_39_multiplier);
  }
  
  .c_title {
    font-size: calc(@title_size * @media_39_multiplier);
  }
  
  .white__wrapper {
    display: none;
  }
  
  .presentation-block,
  .information-block {
    margin-bottom: 40px;
  }
  
  .map__wrapper {
    pointer-events: none;
  }
  
  .towers {
    .floors__block {
      .floors__lst {
        .floors__lst__i {
          height: 2rem;
          width: 2rem;
          cursor: pointer;
          display: inline-block;
          padding: 0;
          margin: 0 10px 10px 0;
          float: none;
          clear: both;
          &:before {
            margin: 0;
          }
          &.active-floor {
            &:before {
              background-color: @legend_dark_color;
            }
          }
        }
      }
    }
  }
  
  .panoramas {
    
    display: none;
    
    &__slider__caption {
      min-height: 0;
      padding: 15px;
      font-size: 13px;
    }
  }
  
  .conference {
    .slider(800px);
    &__inner {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
    
    &__tabs__wrapper {
      max-width: 870px;
      width: 100%;
      .tabs {
        border: none;
        background: transparent;
        li {
          &:not(:last-child) {
            //padding-right: 0;
          }
        }
      }
    }
    
    &__tabs__content {
      flex-direction: column;
    }
    
    &__tabs__column {
      .column();
      width: 100%;
      padding: 0 10px;
      &.right__column {
        text-align: center;
      }
      &.left__column {
        padding-bottom: 10px;
      }
      .column__header-first {
        font-size: 24px;
      }
      .column__regular {
        padding: 10px 0;
      }
      button {
        &.button {
          padding: 15px;
          margin: 10px 0;
        }
      }
    }
    
    input,
    textarea {
      margin-bottom: 10px !important;
    }
  }
  
  .modal {
    &__overlay {
      background-color: rgba(0, 0, 0, 1);
      .close-button {
        top: 1em;
        right: 1em;
        width: 2em;
        height: 2em;
      }
    }
    &__image {
      padding: 20px 10px;
    }
  }
  
  .datetime-fieldset {
    .date-fieldset,
    .time-fieldset {
      width: 50%;
      float: none;
      display: block;
    }
  }
  
}

@media screen and (max-width: 1024px) {
  .centered-column {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
    &:last-child {
      float: none !important;
    }
  }
  
  .offices__lst {
    .offices__lst__i {
      & + .offices__lst__i {
        margin-top: 20px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .offices__slider__i {
    &__caption {
      flex-direction: column;
      .offices__slider__column {
        width: 100%;
        .column__header-first {
          font-size: 2rem;
        }
        .column__header-third {
          font-size: 14/16 rem;
        }
      }
    }
  }
}

@media screen and (max-height: 520px) {
  .arrow_wrapper {
    .arrow {
      display: none;
    }
  }
  
  .map__wrapper {
    pointer-events: none;
  }
}

@media screen and (max-height: 480px) {
  .c_fullimgheader {
    min-height: inherit;
    .header-main-text {
      line-height: 1;
      font-size: calc(1.8em);
      text-align: center;
    }
    .introtext {
      display: none;
    }
    .center {
      .button {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 410px) {
  .horizontal__blocks {
    .horizontal__blocks__i {
      .c_block_horizontal {
        .c_blokhead {
          float: none;
          margin: auto;
          width: auto;
        }
        .c_blockcontent,
        .c_blockcontent > * {
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-height: 380px) {
  .c_fullimgheader {
    .header-main-text {
      line-height: 1;
      font-size: calc(1.8em);
    }
    .introtext,
    a.arrow {
      display: none;
    }
    .center {
      .button {
        margin: 0;
      }
    }
  }
}

@media screen and (max-height: 380px) and (orientation: landscape) {
  .c_fullheight {
    //height: calc(~"100vh - 60px");
    height: auto;
    .header__title__h1 {
      font-size: 1.5em;
      margin: 10px 0;
    }
    .header__title__h2 {
      display: none;
    }
    .header__buttons__wrapper {
      .header__to__order__btn {
        margin: 0;
        padding: 10px;
      }
      .order__btn__text {
        font-size: 0.95em;
        margin: 5px 0;
      }
    }
  }
  
  .c_top_phone {
    margin-top: 10px;
    .c_top_small_desc {
      padding-top: 0 !important;
    }
  }
  
  .c_logo {
    .c_top_small_desc {
      display: none;
    }
  }
}

@media screen and (max-height: 320px) and (max-width: 570px) and (orientation: landscape) {
  .c_fullimgheader {
    .top__menu__left__wrapper {
      width: 60%;
    }
    .top__menu__right__wrapper {
      width: 40%;
    }
    .c_fullheight {
      height: auto;
      .header__title__h1 {
        font-size: 1.3em;
        margin: 10px 0;
        line-height: 1;
      }
      .header__title__h2 {
        display: none;
      }
      .header-main-text {
        line-height: 1;
        font-size: 1.4em;
        margin-bottom: 20px;
      }
      .introtext,
      a.arrow {
        display: none;
      }
      .center {
        &.button_scroll {
          margin-top: 0;
          .button {
            margin: 0;
            padding: 15px;
          }
        }
      }
      .header__buttons__wrapper {
        margin: 0;
        .header__to__order__btn {
          padding: 10px;
          margin: 10px;
        }
        .order__btn__text {
          font-size: 0.95em;
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-height: 320px) and (max-width: 570px) and (orientation: portrait) {
  .c_fullimgheader {
    .c_fullheight {
      .center {
        &.button_scroll {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-height: 320px) {
  .c_fullimgheader {
    .c_fullheight {
      height: calc(~"100vh - 140px");
    }
    .c_topmenu {
      .c_logo {
        img {
          height: 40px;
        }
      }
      .c_top_phone {
        margin-top: 10px;
        font-size: 1.3em;
        .c_top_small_desc {
          padding-top: 0;
        }
      }
    }
    .c_fullheight {
      .header-main-text {
        font-size: 1.3em;
        margin-bottom: 20px;
      }
      .button_scroll {
        margin-top: 0 !important;
        .button {
          padding: 10px !important;
        }
      }
    }
  }
}