
/* Usual section */

section {
    border-style: solid;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: @section_top_border;
    border-bottom-width: @section_bottom_border;
    border-color: @bordercolor_light;
    background-color: @section_bg_light;
  &.dark {
    border-color: @bordercolor_dark;
    background-color: @section_bg_dark;
  }
  .row *:first-child{
    padding-top: 0;
    margin-top: 0;
  }
  .content{} 

}

/* Section backgrounds */

.background-texture{
  background-repeat: repeat;
  background-size:  auto;}


.background-image{
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }

.background-fixed{
  background-attachment: fixed;
}

/* Section Mask */

.mask {
  background-color: @mask_color_light;
  width: 100%;
  height: 100%;
  position: relative;
}

.dark {
  .mask {
    background-color: @mask_color_dark;
  }
}
