@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400,500|Open+Sans:300,400');
/* top__menu */
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.hidden__slide {
  visibility: hidden;
  height: 0;
}
.margin {
  margin: 0;
  padding: 0;
}
.nomarker {
  list-style: none;
}
.nomarker li:before {
  display: none;
}
.semibold {
  font-weight: 500;
}
.hidden_element {
  display: none;
}
.nonetransformtext {
  text-transform: none;
}
.clearfix {
  /* margin:0;
   padding:0;
   height:0;
   clear: both;*/
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}
/* Usual section */
section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  border-style: solid;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 1px;
  border-color: #D8D8D8;
  background-color: #fbfeff;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 1;
}
section.dark {
  border-color: #2E343C;
  background-color: #2E343C;
}
h1,
h2,
h3,
h4,
h5,
h6,
.c_process ol li:before,
.c_process ol li:after {
  text-align: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 1.5rem;
}
h1 {
  font-size: 2.7rem;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #263238;
  letter-spacing: 0.02em;
  font-weight: 400;
}
h2 {
  font-size: 2.5rem;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #005d88;
  letter-spacing: 0.05em;
  font-weight: 400;
}
h3,
h4,
h5,
h6,
.c_process ol li:before,
.c_process ol li:after {
  font-size: 1.6rem;
  color: #8caebd;
  letter-spacing: 0em;
  font-weight: 400;
  font-family: 'Fira Sans Condensed', sans-serif;
}
.title {
  text-transform: none;
  font-size: 1.2rem;
  letter-spacing: 0em;
  font-weight: 400;
  color: #43a8e8;
}
hr {
  border: 0;
  height: 1px;
  background-color: #CFD8DC;
  width: 150px;
  float: center;
}
p,
li {
  font-size: 1.05rem;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  text-align: left;
  letter-spacing: 0;
  line-height: 140%;
  font-weight: 300;
  color: #0A0B0D;
}
.xs {
  width: 40px !important;
  height: 40px !important;
  min-width: 40px !important;
  min-height: 40px !important;
}
.sm {
  width: 60px !important;
  height: 60px !important;
  min-width: 60px !important;
  min-height: 60px !important;
}
.md {
  width: 80px !important;
  height: 80px !important;
  min-width: 80px !important;
  min-height: 80px !important;
}
.lg {
  width: 120px !important;
  height: 120px !important;
  min-width: 120px !important;
  min-height: 120px !important;
}
.xl {
  width: 160px !important;
  height: 160px !important;
  min-width: 160px !important;
  min-height: 160px !important;
}
.accent {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0;
  line-height: 140%;
  font-weight: 400;
  color: #000000;
}
.note {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0;
  line-height: 140%;
  font-weight: 300;
  color: #6C6C6C;
  margin-top: 40px;
}
.caption {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.05em;
  line-height: 140%;
  font-weight: 300;
  color: #6C6C6C;
}
.impact {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.05em;
  line-height: 160%;
  font-weight: 400;
  color: #000000;
}
a:link,
a:visited {
  text-decoration: none;
  color: #3b8aaf;
}
a:hover {
  text-decoration: underline;
  color: #43a8e8;
}
.button,
.button:link,
.button:visited {
  font-size: 1rem;
  letter-spacing: 0.1em;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  background-color: transparent;
  border: 2px solid #3b8aaf;
  border-radius: 0 0;
  padding: 20px;
  display: inline-block;
  text-align: center;
  min-width: 210px;
  margin: 20px;
  text-decoration: none;
}
.button:hover,
.button:active {
  text-decoration: none;
  color: #FFFFFF;
  border: 2px solid #3b8aaf;
  background-color: #3b8aaf;
  transition: 0.4s ease all;
}
.calltoaction,
.calltoaction:link,
.calltoaction:visited {
  color: #FFFFFF;
  background-color: #00838F;
  border: 2px solid #00838F;
}
.calltoaction:hover,
.calltoaction:active {
  color: #FFFFFF;
  background-color: #263238;
  border: 2px solid #263238;
}
input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=date],
input[type=time],
input[type=datetime],
textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #D8D8D8;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.05rem;
  color: #263238;
  width: 100%;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: none;
}
input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=date]:focus,
input[type=time]:focus,
input[type=datetime]:focus,
textarea:focus {
  outline: none;
}
input[type=text].unresizable,
input[type=number].unresizable,
input[type=email].unresizable,
input[type=password].unresizable,
input[type=date].unresizable,
input[type=time].unresizable,
input[type=datetime].unresizable,
textarea.unresizable {
  resize: none;
}
input[type=date],
input[type=time],
input[type=datetime] {
  padding: 5px 10px;
}
label {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: normal;
  color: #6C6C6C;
  line-height: 150%;
}
select {
  padding: 10px;
  border: 1px solid #D8D8D8;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.05rem;
  color: #263238;
  border-radius: 0;
  background-color: #FFFFFF;
  -webkit-appearance: none;
  background-image: url('../i/selector_arrow_on_light.svg');
  background-position: 95% center;
  background-repeat: no-repeat;
  line-height: 1em;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none !important;
}
select::-ms-expand {
  display: none;
}
.checkbox,
.radio {
  vertical-align: top;
  margin: 20px 3px 0 0;
  width: 17px;
  height: 17px;
}
.checkbox + label i,
.radio + label {
  cursor: pointer;
}
.checkbox:not(checked),
.radio:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox:not(checked) + label i {
  position: relative;
  padding: 0 0 0 60px;
}
.checkbox:not(checked) + label i:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #D8D8D8;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
.checkbox:not(checked) + label i:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all .2s;
}
.checkbox:checked + label i:before {
  background: #00838F;
}
.checkbox:checked + label i:after {
  left: 26px;
}
.checkbox:focus + label i:before {
  box-shadow: 0 0 0 3px rgba(255, 255, 0, 0.5);
}
.radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFFFFF;
}
.radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #00838F;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all .2s;
}
.radio:checked + label:after {
  opacity: 1;
}
.radio:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255, 255, 0, 0.5);
}
ul:after {
  content: '';
  clear: both;
  display: block;
}
table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
th,
td {
  padding: 10px;
}
tbody tr:nth-child(even) {
  background: #F3F5F7;
}
tbody tr:nth-child(odd) {
  background: #FFFFFF;
}
thead tr {
  background: transparent;
}
tfoot tr {
  background: #E6EBEE;
}
td {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0;
  border: 1px solid #D8D8D8;
  color: #353535;
}
th {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  border: 1px solid transparent;
  color: #000000;
  border-bottom: none;
}
tfoot td {
  border: 1px solid #D8D8D8;
  color: #000000;
}
.dark h1 {
  color: #dff5ff;
}
.dark h2 {
  color: #dff5ff;
}
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: #cad6dc;
}
.dark .title {
  color: #dff5ff;
}
.dark hr {
  background-color: #58595b;
}
.dark p,
.dark li {
  color: #D9D9D9;
}
.dark .accent {
  color: #FFFFFF;
}
.dark .note {
  color: #cad6dc;
}
.dark .caption {
  color: #D9D9D9;
}
.dark .impact {
  color: #FFFFFF;
}
.dark a:link,
.dark a:visited {
  color: #dff5ff;
}
.dark a:hover,
.dark a:active {
  color: #FFFFFF;
}
.dark button,
.dark .button:link,
.dark .button:visited {
  color: #CFD8DC;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  -webkit-transition: color 0.3s, background-color 0.3s, border 0.3s;
  -moz-transition: color 0.3s, background-color 0.3s, border 0.3s;
  -ms-transition: color 0.3s, background-color 0.3s, border 0.3s;
  -o-transition: color 0.3s, background-color 0.3s, border 0.3s;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
}
.dark .button:hover,
.dark .button:active {
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  background-color: #3A3BB1;
}
.dark .calltoaction,
.dark .calltoaction:link,
.dark .calltoaction:visited {
  color: #dff5ff;
  background-color: #3b8aaf;
  border: 2px solid #dff5ff;
}
.dark .calltoaction:hover,
.dark .calltoaction:active {
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  background-color: #2b5f77;
}
.dark input[type=text],
.dark input[type=number],
.dark input[type=email],
.dark input[type=password],
.dark input[type=date],
.dark input[type=time],
.dark input[type=datetime],
.dark textarea {
  border: 1px solid #CFD8DC;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.5);
}
.dark input[type=text]:focus,
.dark input[type=number]:focus,
.dark input[type=email]:focus,
.dark input[type=password]:focus,
.dark input[type=date]:focus,
.dark input[type=time]:focus,
.dark input[type=datetime]:focus,
.dark textarea:focus {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.5);
}
.dark label {
  color: #cad6dc;
}
.dark select {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('../i/selector_arrow_on_dark.svg');
}
.dark .checkbox:not(checked) + label i:before {
  background: #39394E;
}
.dark .checkbox:not(checked) + label i:after,
.dark .radio:not(checked) + label:before {
  background: #006898;
}
.dark .checkbox:checked + label i:before,
.dark .radio:not(checked) + label:after {
  background: #3b8aaf;
}
.dark tbody tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.1);
}
.dark tbody tr:nth-child(odd) {
  background: transparent;
}
.dark thead tr {
  background: transparent;
}
.dark tfoot tr {
  background: #172024;
}
.dark td {
  border: 1px solid #172024;
  color: #D9D9D9;
}
.dark th {
  border: 1px solid transparent;
  color: #FFFFFF;
  border-bottom: none;
}
.dark tfoot td {
  border: 1px solid #172024;
  color: #FFFFFF;
}
/* Full width image */
.wideimgbg {
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-attachment: scroll;
}
@media screen and (min-width: 64em) {
  .wideimgbg {
    background-attachment: fixed;
  }
}
/* Internal blocks */
.c_content {
  margin-top: 40px;
}
.c_content li {
  margin-bottom: 20px;
  margin-left: 20px;
  position: relative;
}
.c_content ul {
  list-style-type: none;
}
.c_content ul li:before {
  display: block;
  position: absolute;
  left: -40px;
  width: 20px;
  color: #00838F;
  content: "■";
}
.c-img_text {
  display: flex;
  justify-content: center;
  padding: 20px 0 0;
}
.c-img_text .c-img_text-inner {
  display: flex;
  text-align: -webkit-center;
  -ms-flex: 100%;
}
.c-img_text .c-img_text-inner .c-img_text-text-wrapper {
  text-align: left;
  padding: 20px 0 0 20px;
  max-width: 100%;
}
.c-img_text .c-img_text-inner .c-img_text-text-wrapper .c_author {
  text-align: center;
}
.c-img_text .c-img_text-inner .c-img_text-img {
  position: relative;
}
.c-img_text .c-img_text-inner .c-img_text-img:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.c-img_text .c-img_text-inner .c-img_text-img .c-img_text-img_icon {
  background-size: auto 80%;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.c-img_text .c-img_text-inner.vertical {
  flex-direction: column;
  align-items: center;
}
.c-img_text .c-img_text-inner.vertical .c-img_text-text-wrapper {
  padding: 20px 0 0;
}
.dark .c_content ul li:before {
  color: #54868B;
}
/* Header */
.c_fullimgheader {
  background-size: cover;
  background-position: center;
  background-color: #D8D8D8;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  margin: 0;
  min-height: 450px;
  position: relative;
  background-attachment: scroll;
  z-index: 4;
}
.c_fullimgheader h1 {
  line-height: 110%;
  text-align: left;
  text-transform: none;
}
.c_fullimgheader .header__title__h2 {
  font-size: 2rem;
  text-align: left;
  text-transform: none;
  color: #FFFFFF;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.c_fullimgheader .custom__change__title {
  color: #B6B6F3;
}
.c_fullimgheader .arrow_wrapper {
  display: block;
  position: absolute;
  bottom: 25px;
  width: 100%;
}
.c_fullimgheader .arrow_wrapper .arrow {
  display: block;
  width: 100%;
  height: 16px;
  margin: auto;
  border: none;
  outline: none;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../i/arrow_d_on_light.svg');
}
.c_fullimgheader .introtext {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0em;
  line-height: 130%;
  font-weight: 400;
  color: #0A0B0D;
  text-align: left;
}
.c_fullimgheader .c_logo {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.04em;
  font-weight: 600;
  color: #263238;
  text-transform: uppercase;
  line-height: 100%;
}
.c_fullimgheader .c_topmenu {
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  /*position: fixed;*/
  width: 100%;
  height: 60px;
}
.c_fullimgheader .c_menu {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.c_fullimgheader .c_menu ul {
  padding: 0;
  margin: 0;
}
.c_fullimgheader .c_menu li {
  display: block;
  float: right;
  list-style: none;
  margin-left: 40px;
  line-height: 120%;
}
.c_fullimgheader .c_menu li a:link,
.c_fullimgheader .c_menu li a:visited,
.c_fullimgheader .c_menu li a:hover,
.c_fullimgheader .c_menu li span {
  font-size: 0.85rem;
  font-weight: 600;
  text-decoration: none;
  color: #00838F;
}
.c_fullimgheader .c_menu li a:hover {
  color: #000000;
}
.c_fullimgheader .c_top_phone {
  float: right;
  margin-left: 60px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  font-weight: 400;
  color: #263238;
  text-transform: uppercase;
  line-height: 100%;
}
.c_fullimgheader .c_top_small_desc {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 11px;
  letter-spacing: 0.03em;
  padding-top: 10px;
  font-weight: bold;
}
.c_fullimgheader.dark a.arrow {
  background-image: url('../i/arrow_d_on_dark.svg');
}
.c_fullimgheader.dark .mask {
  background-color: rgba(0, 0, 0, 0.4);
}
.c_fullimgheader.dark .introtext {
  color: #cad6dc;
}
.c_fullimgheader.dark .c_logo {
  color: #58595b;
}
.c_fullimgheader.dark .c_menu a:link,
.c_fullimgheader.dark .c_menu a:visited {
  color: #C4CBCF;
}
.c_fullimgheader.dark .c_menu a:hover {
  color: #FFFFFF;
}
.c_fullimgheader.dark .c_topmenu {
  background: rgba(0, 0, 0, 0.2);
}
.c_fullimgheader.dark .c_top_phone {
  color: #dff5ff;
}
.c_fullheight {
  height: calc(100vh - 160px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.top__menu {
  padding: 40px 20px 20px;
  max-width: 1800px;
}
.top__menu__left {
  display: flex;
  align-items: center;
}
.top__menu__left__logo {
  min-height: 60px;
  min-width: 60px;
  height: 100%;
  width: 200px;
  background-size: cover;
  background-position: center center;
}
.top__menu__left__desc {
  display: flex;
  align-items: center;
  margin-left: 10px;
  border-left: 1px solid #58595b;
  padding: 5px 0 5px 10px;
}
.top__menu__left__desc__name {
  color: #58595b;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  font-family: Georgia;
}
.top__menu__left__desc__long {
  color: #58595b;
}
.top__menu__right {
  float: right;
}
.top__menu__right__phone {
  color: #dff5ff;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.05em;
}
.top__menu__right__personal {
  margin-top: 10px;
}
.top__menu__right__personal__btn {
  padding: 10px;
  margin: 0;
  font-size: 0.75rem;
  font-weight: 500;
  min-width: 100%;
  outline: none;
}
.top__menu__right__personal__btn:active {
  outline: none;
}
/* Footer */
footer {
  background-color: #E4E7E8;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 0.85rem;
  color: #353535;
  letter-spacing: 0;
  line-height: 180%;
  font-weight: 300;
}
footer.dark {
  background-color: #182126;
  color: #ADB6BA;
}
/*  Ссылка на разработчика в футере */
.c_developer {
  display: block;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.05em;
  line-height: 180%;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transition: color 0.3s, background-color 0.3s, border 0.3s;
  -moz-transition: color 0.3s, background-color 0.3s, border 0.3s;
  -ms-transition: color 0.3s, background-color 0.3s, border 0.3s;
  -o-transition: color 0.3s, background-color 0.3s, border 0.3s;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
}
a.c_developer:link,
a.c_developer:visited {
  background-color: #23242D;
  color: #D9D9D9;
  text-decoration: none;
}
a.c_developer:hover,
a.c_developer:active {
  background-color: #3b8aaf;
  color: #ffffff;
  text-decoration: none;
}
.dark a.c_developer:link,
.dark a.c_developer:visited {
  background-color: #2E343C;
  color: #ADB6BA;
}
.dark a.c_developer:hover,
.dark a.c_developer:active {
  background-color: #3b8aaf;
  color: #ffffff;
}
.websee_name {
  text-transform: none;
  line-height: 1;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.05em;
}
/* Блоки */
.c_blokhead {
  text-align: center;
  margin-bottom: 20px;
}
.c_blokhead div {
  margin: 0 auto;
  margin-bottom: 20px;
}
.c_blockcontent {
  font-size: 0.95rem;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  text-align: center;
  letter-spacing: 0;
  line-height: 140%;
  font-weight: 300;
  color: #0A0B0D;
}
.c_block_horizontal .c_blokhead {
  width: 160px;
  float: left;
  margin-right: 20px;
}
.c_block_horizontal .c_blockcontent {
  text-align: left;
}
.c_block_horizontal .c_blockcontent h2,
.c_block_horizontal .c_blockcontent h3 {
  text-align: left;
}
.dark .c_blockcontent {
  color: #D9D9D9;
}
.guarantees__lst {
  margin: 0;
  padding: 0;
  list-style: none;
}
.guarantees__lst .guarantees__lst__i {
  margin: 10px 0;
  list-style: none;
}
.guarantees__lst .guarantees__lst__i:before {
  content: '';
  display: none;
}
.guarantees__lst .guarantees__lst__i .guarantees__lst__i__inner__wrapper {
  display: flex;
  align-items: flex-start;
}
.guarantees__lst .guarantees__lst__i .guarantees__lst__i__inner__wrapper .guarantees__lst__i__img__wrapper .guarantees__lst__i__img {
  height: 80px;
  width: 80px;
}
.guarantees__lst .guarantees__lst__i .guarantees__lst__i__inner__wrapper .guarantees__lst__i__text {
  margin-bottom: 1em;
  /* p {
           font-size: @blocktext_size;
           letter-spacing: @text_letterspacing;
           line-height: @text_lineheight;
           font-weight: @text_fontweight;
           color: @text_color_light;
         }*/
}
.guarantees__lst .guarantees__lst__i .guarantees__lst__i__inner__wrapper .guarantees__lst__i__text *:first-child {
  margin-top: 0;
}
#deposits {
  background-color: #E4E7E8;
}
#deposits .deposits__title {
  font-size: 1.33333333rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #005d88;
}
#deposits .deposits__lst {
  margin: 0;
  padding: 0;
  list-style: none;
}
#deposits .deposits__lst .deposits__lst__i {
  list-style: none;
  margin: 0;
  padding: 0 10px 30px;
}
#deposits .deposits__lst .deposits__lst__i:before {
  content: '';
  display: none;
}
#deposits .deposits__lst .deposits__lst__i:first-child {
  margin-top: 0;
}
#deposits .deposits__lst .deposits__lst__i .deposits__lst__i__inner__wrapper {
  position: relative;
  display: flex;
}
#deposits .deposits__lst .deposits__lst__i .deposits__lst__i__inner__wrapper .deposits__lst__i__inner {
  display: inline-block;
  max-width: 50%;
  width: 50%;
  position: relative;
}
#deposits .deposits__lst .deposits__lst__i .deposits__lst__i__inner__wrapper .deposits__lst__i__amount {
  font-size: 1.66666667rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #005d88;
  text-align: right;
  line-height: 140%;
  padding-right: 40px;
}
#deposits .deposits__lst .deposits__lst__i .deposits__lst__i__inner__wrapper .deposits__lst__i__amount .deposit_volute {
  margin-right: 10px;
  font-weight: 600;
  font-size: 2rem;
  vertical-align: top;
}
#deposits .deposits__lst .deposits__lst__i .deposits__lst__i__inner__wrapper .deposits__lst__i__name {
  color: #005d88;
}
.key__persons__lst .key__persons__lst__i .c_blockcontent {
  margin: 10px 0;
}
.key__persons__lst .key__persons__lst__i .c_blockcontent.key__persons__lst__i__desc {
  color: #5C5A65;
}
.c_review .review__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.c_review .review__wrapper .c_blokhead {
  padding: 20px 0;
}
.c_review .review__wrapper .c_blokhead .c_roundimg {
  width: 80px !important;
  height: 80px !important;
  background-size: contain;
}
.c_review .c_block_horizontal .c_blockcontent p {
  font-family: 'Georgia', 'Times New Roman', serif;
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.05em;
  line-height: 140%;
  color: #353535;
}
.c_review .c_author {
  text-align: left;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0;
  line-height: 140%;
  color: #5C5A65;
}
.review__slider.dark .bx-viewport:after {
  background: linear-gradient(to left, #2E343C 0%, rgba(255, 255, 255, 0.01) 5%, rgba(255, 255, 255, 0.01) 95%, #2E343C 100%);
}
.review__slider .bx-viewport:after {
  display: block;
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(to left, #fbfeff 0%, rgba(255, 255, 255, 0.01) 5%, rgba(255, 255, 255, 0.01) 95%, #fbfeff 100%);
  pointer-events: none;
}
.review__slider .review__slider__lst .review__slider__lst__i {
  padding: 0 30px;
}
.review__slider .review__slider__lst .review__slider__lst__i .review__slider__lst__i__author__wrapper {
  display: flex;
  justify-content: center;
  padding: 40px 0 0;
}
.review__slider .review__slider__lst .review__slider__lst__i .review__slider__lst__i__author__wrapper .review__slider__lst__i__author {
  display: flex;
  text-align: -webkit-center;
}
.review__slider .review__slider__lst .review__slider__lst__i .review__slider__lst__i__author__wrapper .review__slider__lst__i__author .c_author {
  text-align: left;
  margin: 0 0 0 40px;
}
.review__slider .review__slider__lst .review__slider__lst__i .review__slider__lst__i__author__wrapper .review__slider__lst__i__author .review__slider__lst__i__author__img {
  height: 80px;
  width: 80px;
}
.review__slider .review__slider__lst .review__slider__lst__i .review__slider__lst__i__author__wrapper .review__slider__lst__i__author .c_author {
  text-align: center;
}
.bx-slider-container .row {
  position: relative;
}
.bx-slider-container .bx-wrapper {
  margin: 0;
  max-width: 1200px;
}
.bx-slider-container .bx-controls.small-directions .bx-controls-direction .bx-prev,
.bx-slider-container .bx-controls.small-directions .bx-controls-direction .bx-next {
  top: unset;
}
.bx-slider-container .bx-controls-direction .bx-prev,
.bx-slider-container .bx-controls-direction .bx-next {
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -9999px;
  display: block;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 60px;
}
.bx-slider-container .bx-controls-direction .bx-prev.disabled,
.bx-slider-container .bx-controls-direction .bx-next.disabled {
  outline: none !important;
  border: none !important;
  background-color: transparent !important;
  opacity: 0.2;
}
.bx-slider-container .bx-controls-direction .bx-prev {
  background-image: url(../i/arrow_left.svg);
  left: 0;
}
.bx-slider-container .bx-controls-direction .bx-next {
  right: 0;
  background-image: url(../i/arrow_right.svg);
}
.bx-slider-container .bx-pager {
  padding-top: 38px;
  text-align: center;
}
.bx-slider-container .bx-pager .bx-pager-item {
  cursor: pointer;
  margin-right: 16px;
  display: inline-block;
  border-radius: 50%;
  padding: 2px;
  border: 1px solid #efefef;
}
.bx-slider-container .bx-pager .bx-pager-item:last-child {
  margin: 0;
}
.bx-slider-container .bx-pager .bx-pager-item:hover {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  border-color: #bcbcbc;
}
.bx-slider-container .bx-pager .bx-pager-item a {
  border-radius: 50%;
  text-indent: -9999px;
  content: ' ';
  display: block;
  width: 8px;
  height: 8px;
}
.bx-slider-container .bx-pager .bx-pager-item a.active {
  background-color: #fff;
}
.microdata__hidden__params {
  display: none;
}
.form__tabs {
  min-height: 820px;
}
.form__tabs .tab__button {
  min-width: 200px;
  padding: 10px;
}
.form__tabs .form__tabs__i {
  display: none;
  /*&#form__tab {
      display: block;
    }
    &#call__tab:target ~ #form__tab {
      display: none;
    }
    &:target {
      display: block;
    }*/
}
.form__tabs .form__tabs__i.active__tab {
  display: block;
}
.c_process ol {
  counter-reset: c_process_counter;
  list-style-type: none;
  padding: 0px;
}
.c_process ol li {
  display: block;
  position: relative;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0px;
  padding-left: 4.5em;
  padding-bottom: 20px;
  overflow: hidden;
}
.c_process ol li span.c_blockcontent {
  display: block;
  padding: 0.5em 0;
}
.c_process ol li:before {
  content: counter(c_process_counter);
  counter-increment: c_process_counter;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 2rem !important;
  height: 2rem !important;
  text-align: center;
  padding: 0.6em;
  /* предудущие параметры
        display: block;
        padding-top: .5em;
        padding-left: .15em;  */
  background-color: #36A9E0;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}
.c_process ol li:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 1rem;
  top: 2rem;
  width: 0px;
  height: 999px;
  border-left: 2px solid #CFD8DC;
}
.c_process ol li:last-child:after {
  display: none;
}
.c_contacts {
  height: auto;
}
.c_contacts .map__wrapper {
  height: 500px;
  min-width: 100%;
  min-height: 250px;
  overflow: hidden;
  position: relative;
}
.c_contacts .map__wrapper .c_contacts_map_holder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}
.c_contacts .map__wrapper .c_contacts_text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.8);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 60%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.8)), color-stop(60%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 60%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 60%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 60%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 60%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= rgba(255, 255, 255, 0.8) , endColorstr= rgba(255, 255, 255, 0) , GradientType=0);
  /* IE6-9 */
}
.c_contacts .offices__lst .offices__lst__i .offices__lst__i__title {
  font-size: 1.33333333rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #005d88;
  text-align: center;
}
.c_contacts .offices__lst .offices__lst__i .offices__lst__i__title:hover {
  cursor: pointer;
  color: #000000;
}
.c_contacts .offices__lst .offices__lst__i .offices__lst__i__title.active__office {
  color: #000000;
}
.c_contacts .offices__lst .offices__lst__i .offices__lst__i__contacts__lst {
  margin: 20px 0 0;
  padding: 0;
}
.c_contacts .offices__lst .offices__lst__i .offices__lst__i__contacts__lst .offices__lst__i__contacts__lst__i {
  padding: 10px 0;
  list-style: none;
  display: flex;
  align-items: flex-start;
}
.c_contacts .offices__lst .offices__lst__i .offices__lst__i__contacts__lst .offices__lst__i__contacts__lst__i:before {
  display: none;
}
.c_contacts .offices__lst .offices__lst__i .offices__lst__i__contacts__lst .offices__lst__i__contacts__lst__i .icon {
  min-width: 18px;
  min-height: 18px;
}
.c_contacts .offices__lst .offices__lst__i .offices__lst__i__contacts__lst .offices__lst__i__contacts__lst__i .offices__lst__i__contacts__lst__i__text {
  display: inline-block;
  margin-left: 20px;
}
.features__lst {
  margin: 0;
  padding: 0;
}
.features__lst:after {
  content: " ";
  display: block;
  clear: both;
  height: 100%;
  width: 100%;
}
.features__lst .features__lst__i {
  list-style: none;
  margin-bottom: 45px;
  margin-left: 0;
}
.features__lst .features__lst__i:before {
  display: none;
}
.features__lst .features__lst__i .features__lst__i__img__wrapper {
  overflow: hidden;
  margin-bottom: 30px;
  max-height: 140px;
  max-width: 100%;
  min-height: 133px;
  width: 100%;
  height: 140px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /*animation-duration: 3s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;*/
  background: #333;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
}
.features__lst .features__lst__i .features__lst__i__img__wrapper .features__lst__i__img {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  max-height: 140px;
  width: 100%;
}
.features__lst .features__lst__i .features__lst__i__img__wrapper:hover .features__lst__i__img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.conception .conception__headers .conception__headers__long {
  text-align: left;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Fira Sans Condensed', sans-serif;
  line-height: 1;
  color: #8caebd;
}
.conception .conception__headers .conception__headers__desc {
  text-align: left;
  font-size: 2.5rem;
  font-weight: 400;
  font-family: 'Fira Sans Condensed', sans-serif;
  letter-spacing: 0.05em;
  color: #dff5ff;
}
.conception .lists__wrapper .terminal__params__wrapper .terminal__params__lst {
  margin: 0;
  padding: 20px 0;
  list-style: none;
}
.conception .lists__wrapper .terminal__params__wrapper .terminal__params__lst .terminal__params__lst__i {
  list-style: none;
  margin-left: 0;
}
.conception .lists__wrapper .terminal__params__wrapper .terminal__params__lst .terminal__params__lst__i:before {
  display: none;
}
.conception .lists__wrapper .terminal__params__wrapper .terminal__params__lst .terminal__params__lst__i .terminal__params__lst__i__desc {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: 'Fira Sans Condensed', sans-serif;
  line-height: 1;
  text-align: center;
}
.conception .lists__wrapper .terminal__params__wrapper .terminal__params__lst .terminal__params__lst__i .terminal__params__lst__i__text {
  text-align: center;
  font-size: 0.95em;
}
.conception .lists__wrapper .cargo__types__wrapper .cargo__types__lst {
  margin: 0;
  padding: 20px 0 0;
  list-style: none;
}
.conception .lists__wrapper .cargo__types__wrapper .cargo__types__lst .cargo__types__lst__i {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 0;
  margin-bottom: 30px;
}
.conception .lists__wrapper .cargo__types__wrapper .cargo__types__lst .cargo__types__lst__i:last-child {
  margin-bottom: 0;
}
.conception .lists__wrapper .cargo__types__wrapper .cargo__types__lst .cargo__types__lst__i:before {
  display: none;
}
.conception .lists__wrapper .cargo__types__wrapper .cargo__types__lst .cargo__types__lst__i .cargo__types__lst__i__ico {
  width: 2em;
  height: 2em;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.conception .lists__wrapper .cargo__types__wrapper .cargo__types__lst .cargo__types__lst__i .cargo__types__lst__i__text {
  display: inline-block;
}
.block_blur_effect {
  position: relative;
  background-color: transparent !important;
}
.block_blur_effect:before {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-image: url('../i/photo3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}
.block_blur_effect.blur:before {
  -webkit-filter: blur(5px);
  -moz-transition: blur(5px);
  -ms-transition: blur(5px);
  -o-transition: blur(5px);
  transition: blur(5px);
}
.c_roundimg,
.c_process ol li:before {
  border: 0px solid #CFD8DC;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
}
.dark .c_roundimg {
  border: 0px solid #FFFFFF;
}
.mask {
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 100%;
  position: relative;
  background-attachment: fixed;
}
.c_mask {
  background-color: rgba(255, 255, 255, 0.4);
}
.dark .c_mask {
  background-color: rgba(0, 0, 0, 0.4);
}
.c_wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.absolute_position {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}
/* Frames for images and media */
.c_frame_shadow {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}
.c_frame {
  padding: 40px;
  background-color: #FFFFFF;
  border: 1px solid #D8D8D8;
}
.dark .c_frame {
  background-color: #FFFFFF;
  border: 1px solid #D8D8D8;
}
.c_frame_border {
  border: 1px solid #D8D8D8;
}
.dark .c_frame_border {
  border: 1px solid #D8D8D8;
}
.c_description {
  text-align: center;
  margin-top: 40px;
}
/* Video */
.c_videowrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  /*padding-top: 25px;*/
  height: 0;
}
.c_videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Impact text */
.c_impact_01 {
  text-align: center;
  margin: 20px 0;
  padding: 20px 0;
  /*border-top: @hr_height solid @hr_color_light;
    border-bottom: @hr_height solid @hr_color_light;*/
}
/* Social buttons */
.socialbutton:link,
.socialbutton:visited {
  margin-left: 10px;
  background-color: transparent;
  border: 2px solid #3b8aaf;
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #FFFFFF;
  text-decoration: none;
}
.socialbutton:link div,
.socialbutton:visited div {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socialbutton:link span,
.socialbutton:visited span {
  font-size: 18px;
}
.socialbutton:hover,
.socialbutton:active {
  border: 2px solid #3b8aaf;
  background-color: #3b8aaf;
  transition: 0.2s ease all;
  text-decoration: none;
  color: #FFFFFF;
}
.dark .socialbutton:link,
.dark .socialbutton:visited {
  background-color: transparent;
  border: 2px solid #FFFFFF;
  color: #CFD8DC;
}
.dark .socialbutton:hover,
.dark .socialbutton:active {
  border: 2px solid #FFFFFF;
  background-color: #3A3BB1;
  color: #FFFFFF;
}
.floatright {
  float: right;
  display: block;
}
.center {
  text-align: center;
}
.text_small {
  font-size: calc(0.8925rem);
}
.text_big {
  font-size: calc(1.2075rem);
}
.margin_top,
.margin_top_small {
  margin-top: 20px;
}
.margin_top_middle {
  margin-top: 40px;
}
.margin_top_big {
  margin-top: 60px;
}
.margin_bottom,
.margin_bottom_small {
  margin-bottom: 20px;
}
.margin_bottom_middle {
  margin-bottom: 40px;
}
.margin_bottom_big {
  margin-bottom: 60px;
}
.nopadding {
  padding: 0;
}
.nomargin {
  margin: 0;
}
.sectionpadding {
  padding-top: 60px;
  padding-bottom: 60px;
}
.c_formelement {
  padding: 20px 0;
}
.c_v_midle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fullwidth {
  width: 100%;
}
.noborder {
  border: none;
}
.opac {
  opacity: 0;
}
.social__buttons__wrapper {
  text-align: right;
}
/* Styles only for this project */
body.for_menu {
  overflow: hidden;
}
form {
  color: #FFFFFF;
}
textarea {
  resize: none;
}
.c_fullimgheader {
  position: relative;
  top: 0;
  height: auto;
  background-color: transparent;
  z-index: 0;
}
.c_fullimgheader .header__inner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.c_fullimgheader .header__inner__content {
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  background-color: rgba(0, 0, 0, 0.2);
}
.c_fullimgheader .arrow_wrapper {
  position: inherit;
  padding: 1rem 0 0.5rem;
}
.c_fullimgheader .arrow_wrapper .arrow {
  height: auto;
  padding-top: 1rem;
  background-size: auto 15px;
  background-position-x: center;
  background-position-y: 80%;
  text-align: center;
  font-size: 0.875rem;
  padding-bottom: 3rem;
  transition: background-position-y 0.3s ease-out;
}
.c_fullimgheader .arrow_wrapper .arrow:hover {
  text-decoration: none;
  background-position-y: 100%;
}
.header__inner__head {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  opacity: 0;
  z-index: 5;
  transition: opacity 1s ease;
}
.header__inner__background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.header__title {
  height: 500px;
  display: flex;
  align-items: flex-end;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}
header a.button.calltoaction {
  margin-top: .5rem;
}
.white__wrapper {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.white__wrapper .white__inner__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.white__wrapper .white__inner__wrapper .white__inner {
  position: absolute;
  bottom: 0;
  top: auto !important;
  left: 0;
  width: 200%;
  height: 100%;
  transform: rotateZ(-10deg);
  transform-origin: 0 100% 0;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}
.main_phone {
  font-weight: bold;
}
.top__menu__left {
  position: relative;
  top: 0;
}
.top__menu__left__desc__long {
  line-height: 1.2;
  font-weight: bold;
}
.menu__header {
  margin-top: 140px;
  position: relative;
}
.menu__header__lst {
  width: 100%;
  margin: 0;
  list-style: none;
  padding-top: 60px;
  padding-bottom: 60px;
}
.menu__header__i {
  position: relative;
  text-align: center;
  z-index: 2;
}
.menu__header__i:not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.menu__header__i:not(:last-child):after {
  content: '';
  display: block;
  border: 1px solid #fff;
  width: 2px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 100%;
  z-index: 0;
}
.menu__header__i:not(:first-child) {
  padding-top: 10px;
}
.menu__header__i .menu__header__i__a {
  font-size: 16px;
  color: #fff !important;
  padding: 10px 20px;
}
.menu__header__i .menu__header__i__a:hover {
  color: #fff !important;
  text-decoration: none;
}
.menu__header__pointer {
  position: absolute;
  background-color: #006898;
  transition: all .3s ease;
}
.sticky__menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  background-color: rgba(135, 135, 135, 0.7);
  color: #fff;
  box-shadow: 0 2px 10px 0 #fff;
  z-index: 2;
  opacity: 0;
  transition: opacity .5s;
  /*-webkit-transition: height .3s;
  -moz-transition: height .3s;
  -ms-transition: height .3s;
  -o-transition: height .3s;
  transition: height .3s;*/
}
.sticky__menu:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.sticky__menu__wrapper {
  height: 100%;
  position: relative;
  padding: 20px 20px;
  -webkit-transition: height .3s;
  -moz-transition: height .3s;
  -ms-transition: height .3s;
  -o-transition: height .3s;
  transition: height .3s;
  overflow: auto;
}
.sticky__menu__inner {
  height: auto;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
.sticky__menu__item {
  transition: opacity .2s;
}
.sticky__menu__phone {
  padding-top: 13px;
}
.sticky__menu__close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.4em;
  padding: 0;
  margin: 0;
  border-radius: 0;
  color: #fff;
}
.sticky__menu__lst {
  margin: 0;
  list-style: none;
  color: inherit;
}
.sticky__menu__lst .sticky__menu__lst__i {
  display: inline-block;
  padding: 10px 20px;
  color: inherit;
}
.sticky__menu__lst .sticky__menu__lst__i .sticky__menu__lst__i__a {
  font-size: 14px;
  font-weight: 500;
  color: #dff5ff;
  text-decoration: none;
}
.sticky__menu__lst .sticky__menu__lst__i .sticky__menu__lst__i__a:hover {
  color: #FFFFFF;
  text-decoration: none;
}
.sticky__menu__title {
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  text-indent: -9999px;
  height: 50px;
  width: 165px;
  background-image: url(../images/ibtlogo_white.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}
#advantages h2 {
  margin-bottom: 0px;
}
#advantages .c_roundimg {
  width: 120px;
  height: 120px;
}
#advantages .c-img_text .c-img_text-inner .c-img_text-text-wrapper {
  font-size: 0.8125rem;
  text-align: center;
}
#advantages .c-img_text .c-img_text-inner .c-img_text-img .c-img_text-img_icon {
  background-size: contain;
}
.bx-wrapper {
  position: relative;
}
.bx-wrapper .bx-controls {
  width: 100%;
  height: 100%;
  top: 0;
}
.bx-wrapper .bx-controls .bx-controls-direction {
  height: 100%;
  max-width: 64rem;
  margin: 0 auto;
}
.bx-wrapper .bx-controls .bx-controls-direction .bx-prev,
.bx-wrapper .bx-controls .bx-controls-direction .bx-next {
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -9999px;
  display: block;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 60px;
}
.bx-wrapper .bx-controls .bx-controls-direction .bx-prev.disabled,
.bx-wrapper .bx-controls .bx-controls-direction .bx-next.disabled {
  outline: none !important;
  border: none !important;
  background-color: transparent !important;
  opacity: 0.2;
}
.bx-wrapper .bx-controls .bx-controls-direction .bx-prev {
  background-image: url(../i/arrow_left.svg);
  left: 40px;
}
.bx-wrapper .bx-controls .bx-controls-direction .bx-next {
  right: 40px;
  background-image: url(../i/arrow_right.svg);
}
.bx-wrapper .bx-pager {
  text-align: center;
  bottom: 20px;
  position: absolute;
  width: 100%;
  line-height: 1;
}
.bx-wrapper .bx-pager .bx-pager-item {
  cursor: pointer;
  margin-right: 16px;
  display: inline-block;
}
.bx-wrapper .bx-pager .bx-pager-item:last-child {
  margin: 0;
}
.bx-wrapper .bx-pager .bx-pager-item a {
  display: block;
  width: 12px;
  height: 12px;
  background-color: #EBEBEB;
  border: 1px solid #EBEBEB;
  text-indent: -9999px;
  border-radius: 50%;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.bx-wrapper .bx-pager .bx-pager-item a:hover {
  text-decoration: none;
}
.bx-wrapper .bx-pager .bx-pager-item a.active {
  border-color: #878787;
  box-shadow: 0 0 3px 3px #fff;
}
.bx-wrapper .bx-pager .bx-pager-item a:hover {
  box-shadow: 0 0 3px 3px #878787;
}
.gallery__slider {
  height: 800px;
  /* margin:0;
   padding:0;
   height:0;
   clear: both;*/
}
.gallery__slider:after {
  content: '';
  display: block;
  clear: both;
}
.gallery__slider__i {
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
}
.gallery__slider__i__caption__wrapper {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.gallery__slider__i__caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 870px;
  min-height: 50px;
  padding: 20px 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
}
.gallery__slider__column {
  width: 50%;
  height: 100%;
  padding: 20px;
  color: #FFFFFF;
}
.gallery__slider__column p {
  margin: 10px 0;
}
.gallery__slider__column .column__header-first {
  font-size: 52px;
  font-weight: 800;
  line-height: 1;
  margin: 10px 0;
}
.gallery__slider__column .column__header-second {
  font-size: 22px;
  font-weight: 600;
}
.gallery__slider__column .column__header-third {
  font-size: 16px;
  font-weight: 600;
}
.gallery__slider__column .column__introtext {
  color: #EBEBEB;
  font-size: 14px;
  letter-spacing: 1px;
}
.gallery__slider__column .column__conditions {
  color: #EBEBEB;
  font-size: 12px;
}
.gallery__slider__column.left__column {
  padding-right: 10px;
}
.gallery__slider__column.right__column {
  padding-left: 10px;
}
.gallery__slider__column .column__regular {
  font-size: 1rem;
  font-weight: 500;
}
.panoramas .panoramas__slider {
  height: 246px;
  /* margin:0;
   padding:0;
   height:0;
   clear: both;*/
}
.panoramas .panoramas__slider:after {
  content: '';
  display: block;
  clear: both;
}
.panoramas .panoramas__slider__i {
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
}
.panoramas .panoramas__slider__i__caption__wrapper {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.panoramas .panoramas__slider__i__caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 870px;
  min-height: 50px;
  padding: 20px 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
}
.panoramas .panoramas__slider__column {
  width: 50%;
  height: 100%;
  padding: 20px;
  color: #FFFFFF;
}
.panoramas .panoramas__slider__column p {
  margin: 10px 0;
}
.panoramas .panoramas__slider__column .column__header-first {
  font-size: 52px;
  font-weight: 800;
  line-height: 1;
  margin: 10px 0;
}
.panoramas .panoramas__slider__column .column__header-second {
  font-size: 22px;
  font-weight: 600;
}
.panoramas .panoramas__slider__column .column__header-third {
  font-size: 16px;
  font-weight: 600;
}
.panoramas .panoramas__slider__column .column__introtext {
  color: #EBEBEB;
  font-size: 14px;
  letter-spacing: 1px;
}
.panoramas .panoramas__slider__column .column__conditions {
  color: #EBEBEB;
  font-size: 12px;
}
.panoramas .panoramas__slider__column.left__column {
  padding-right: 10px;
}
.panoramas .panoramas__slider__column.right__column {
  padding-left: 10px;
}
.panoramas .panoramas__slider__column .column__regular {
  font-size: 1rem;
  font-weight: 500;
}
.panoramas__slider__caption__wrapper {
  position: static;
  width: 100%;
}
.panoramas__slider__caption__wrapper.day_caption {
  background-color: #EBEBEB;
}
.panoramas__slider__caption__wrapper.day_caption .panoramas__slider__caption {
  color: #EBEBEB;
}
.panoramas__slider__caption__wrapper.night_caption {
  background-color: #878787;
}
.panoramas__slider__caption {
  width: 100%;
  max-width: 870px;
  min-height: 130px;
  padding: 40px;
  color: #EBEBEB;
}
.panoramas__slider__image {
  /*min-height: 200px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat*/
}
.panoramas .bx-pager {
  z-index: 99;
}
.offices__slider {
  height: 800px;
  /* margin:0;
   padding:0;
   height:0;
   clear: both;*/
  perspective: 100vw;
}
.offices__slider:after {
  content: '';
  display: block;
  clear: both;
}
.offices__slider__i {
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
}
.offices__slider__i__caption__wrapper {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.offices__slider__i__caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 870px;
  min-height: 50px;
  padding: 20px 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
}
.offices__slider__column {
  width: 50%;
  height: 100%;
  padding: 20px;
  color: #FFFFFF;
}
.offices__slider__column p {
  margin: 10px 0;
}
.offices__slider__column .column__header-first {
  font-size: 52px;
  font-weight: 800;
  line-height: 1;
  margin: 10px 0;
}
.offices__slider__column .column__header-second {
  font-size: 22px;
  font-weight: 600;
}
.offices__slider__column .column__header-third {
  font-size: 16px;
  font-weight: 600;
}
.offices__slider__column .column__introtext {
  color: #EBEBEB;
  font-size: 14px;
  letter-spacing: 1px;
}
.offices__slider__column .column__conditions {
  color: #EBEBEB;
  font-size: 12px;
}
.offices__slider__column.left__column {
  padding-right: 10px;
}
.offices__slider__column.right__column {
  padding-left: 10px;
}
.offices__slider__column .column__regular {
  font-size: 1rem;
  font-weight: 500;
}
.offices__slider__i__caption {
  background-color: rgba(0, 69, 101, 0.7);
}
.offices__slider__i__caption__wrapper {
  transform: translateX(0px) rotate3d(0, 1, 0, 0deg);
  transition: transform 0.5s ease-out;
}
.offices__slider__i.office_left .offices__slider__i__caption__wrapper {
  transform: translateX(-300px) rotate3d(0, 1, 0, -10deg);
  transition: transform 0s;
}
.offices__slider__i.office_right .offices__slider__i__caption__wrapper {
  transform: translateX(300px) rotate3d(0, 1, 0, 10deg);
  transition: transform 0s;
}
.offices__params {
  color: #EBEBEB;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.offices__params__param {
  font-size: 52px;
  font-weight: 800;
}
.offices__params__title {
  font-size: 16px;
  font-weight: 600;
  color: #EBEBEB;
}
.offices .leasing__price {
  background-color: rgba(153, 153, 153, 0.5);
  padding: 10px;
}
.offices .leasing__price p {
  text-align: right;
}
.offices .leasing__price .column__header-second {
  color: #263238;
}
.conference {
  height: 800px;
  /* margin:0;
   padding:0;
   height:0;
   clear: both;*/
}
.conference:after {
  content: '';
  display: block;
  clear: both;
}
.conference__i {
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
}
.conference__i__caption__wrapper {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.conference__i__caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 870px;
  min-height: 50px;
  padding: 20px 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
}
.conference__column {
  width: 50%;
  height: 100%;
  padding: 20px;
  color: #FFFFFF;
}
.conference__column p {
  margin: 10px 0;
}
.conference__column .column__header-first {
  font-size: 52px;
  font-weight: 800;
  line-height: 1;
  margin: 10px 0;
}
.conference__column .column__header-second {
  font-size: 22px;
  font-weight: 600;
}
.conference__column .column__header-third {
  font-size: 16px;
  font-weight: 600;
}
.conference__column .column__introtext {
  color: #EBEBEB;
  font-size: 14px;
  letter-spacing: 1px;
}
.conference__column .column__conditions {
  color: #EBEBEB;
  font-size: 12px;
}
.conference__column.left__column {
  padding-right: 10px;
}
.conference__column.right__column {
  padding-left: 10px;
}
.conference__column .column__regular {
  font-size: 1rem;
  font-weight: 500;
}
.conference__inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.conference__tabs__wrapper {
  max-width: 870px;
  width: 100%;
}
.conference__tabs__wrapper .tabs {
  border: none;
  background: transparent;
}
.conference__tabs__wrapper .tabs li {
  padding: 0;
  padding-bottom: 4px;
  background-color: transparent;
  text-align: center;
  color: #FFFFFF;
}
.conference__tabs__wrapper .tabs li a {
  color: inherit;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.7);
}
.conference__tabs__wrapper .tabs li a:hover {
  text-decoration: none;
  background-color: rgba(153, 153, 153, 0.4);
}
.conference__tabs__wrapper .tabs li.active-tab {
  background-color: transparent;
}
.conference__tabs__wrapper .tabs li.active-tab a {
  background-color: rgba(153, 153, 153, 0.4);
}
.conference__tabs__wrapper .tabs li:not(:last-child) {
  padding-right: 4px;
}
.conference__tabs__content {
  display: flex;
  border: none;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.7);
}
.conference__tabs__content div,
.conference__tabs__content p {
  color: #FFFFFF;
}
.conference__tabs__column {
  width: 50%;
  height: 100%;
  padding: 20px;
  color: #FFFFFF;
}
.conference__tabs__column p {
  margin: 10px 0;
}
.conference__tabs__column .column__header-first {
  font-size: 52px;
  font-weight: 800;
  line-height: 1;
  margin: 10px 0;
}
.conference__tabs__column .column__header-second {
  font-size: 22px;
  font-weight: 600;
}
.conference__tabs__column .column__header-third {
  font-size: 16px;
  font-weight: 600;
}
.conference__tabs__column .column__introtext {
  color: #EBEBEB;
  font-size: 14px;
  letter-spacing: 1px;
}
.conference__tabs__column .column__conditions {
  color: #EBEBEB;
  font-size: 12px;
}
.conference__tabs__column.left__column {
  padding-right: 10px;
}
.conference__tabs__column.right__column {
  padding-left: 10px;
}
.conference__tabs__column .column__regular {
  font-size: 1rem;
  font-weight: 500;
}
.conference__tabs__column.right__column {
  text-align: right;
}
.conference__tabs__column button.button {
  font-size: 14px;
  padding: 20px;
  border-radius: 0;
  color: #FFFFFF;
  border-color: #FFFFFF;
  min-width: 210px;
}
.partners__lst {
  margin: 0;
  list-style: none;
}
.partners__lst__i {
  margin-bottom: 20px;
}
.partners__lst__i__img {
  display: block;
  margin: auto;
  width: 120px;
  height: 120px;
  min-width: 120px;
  min-height: 120px;
}
.modal__header {
  color: #FFFFFF;
}
.modal__overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.99);
  width: 100%;
  height: 100%;
  padding: 60px 0;
}
.modal__overlay.opened {
  display: block;
}
.modal__overlay .close-button {
  top: 2rem;
  right: 2rem;
  min-width: 1em;
  width: 3em;
  height: 3em;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: 2px solid #D8D8D8;
}
.modal__image {
  margin: 40px 0;
}
.modal__image img {
  display: block;
  margin: auto;
}
.datetime-fieldset .date-fieldset,
.datetime-fieldset .time-fieldset {
  width: 50%;
  display: inline-block;
  padding: 0 10px;
}
.datetime-fieldset input[type="date"],
.datetime-fieldset input[type="time"] {
  width: 100%;
  display: inline-block;
}
.datetime-fieldset .time-fieldset {
  float: right;
  clear: both;
}
.towers__block {
  position: relative;
  padding-top: 20px;
}
.towers .tower {
  height: 100%;
  position: absolute;
  top: 0;
  cursor: pointer;
}
.towers .tower .title {
  text-align: center;
}
.towers .tower.tower-0 {
  width: 29%;
  left: 0;
}
.towers .tower.tower-1 {
  width: 26%;
  left: 29%;
}
.towers .tower.tower-2 {
  width: 33%;
  left: 55%;
}
.towers .tower.active-tower {
  background: rgba(255, 255, 255, 0.5);
  color: #353535;
}
.towers .tower.active-tower .title {
  color: #353535;
}
.towers .floors__block .floor__schema__image {
  display: block;
  margin: auto;
}
.towers .floors__block .floors__lst .floors__lst__i {
  margin: 0;
  padding-left: 2em;
  height: 2.5em;
  cursor: pointer;
}
.towers .floors__block .floors__lst .floors__lst__i:before {
  justify-content: center;
}
.towers .floors__block .floors__lst .floors__lst__i:after {
  display: none;
}
.towers .floors__block .floors__lst .floors__lst__i.active-floor:before {
  background-color: #878787;
}
.towers .floors__block .floor__plan__legend {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.towers .floors__block .floor__plan__legend .legend-element {
  width: 50%;
  display: flex;
}
.towers .floors__block .floor__plan__legend .legend-element .legend-color {
  border: 1px solid #222222;
  width: 50px;
  margin-right: 10px;
}
.towers .floors__block .floor__plan__legend .free-apt {
  background-color: #EBEBEB;
}
.towers .floors__block .floor__plan__legend .taken-apt {
  background-color: #878787;
}
.hamburger__button {
  width: 30px;
  height: 25px;
}
.hamburger__button .middle {
  transform-origin: 50% 50% 0;
}
.hamburger__button .middle,
.hamburger__button:before,
.hamburger__button:after {
  position: absolute;
  width: 100%;
  height: 1px;
  border: 1px solid #fff;
  border-radius: 3px;
  -webkit-transition: transform .3s, opacity .2s, width .2s;
  -moz-transition: transform .3s, opacity .2s, width .2s;
  -ms-transition: transform .3s, opacity .2s, width .2s;
  -o-transition: transform .3s, opacity .2s, width .2s;
  transition: transform .3s, opacity .2s, width .2s;
}
.hamburger__button:before,
.hamburger__button:after {
  content: '';
  left: 0;
  transform-origin: 0 50% 0;
}
.hamburger__button:before {
  top: -1px;
}
.hamburger__button .middle {
  top: calc(50% - 1px);
}
.hamburger__button:after {
  bottom: -1px;
}
.sticky__menu:not(.sticky__menu__collapsed) .hamburger__button:before {
  width: 39.05124838px;
  -webkit-transform: rotateZ(0.69473828rad);
  -moz-transform: rotateZ(0.69473828rad);
  -ms-transform: rotateZ(0.69473828rad);
  -o-transform: rotateZ(0.69473828rad);
  transform: rotateZ(0.69473828rad);
}
.sticky__menu:not(.sticky__menu__collapsed) .hamburger__button .middle {
  opacity: 0;
}
.sticky__menu:not(.sticky__menu__collapsed) .hamburger__button:after {
  width: 129%;
  -webkit-transform: rotateZ(-0.69473828rad);
  -moz-transform: rotateZ(-0.69473828rad);
  -ms-transform: rotateZ(-0.69473828rad);
  -o-transform: rotateZ(-0.69473828rad);
  transform: rotateZ(-0.69473828rad);
}
/* Горизонтальное 320х480 */
/* Вертикальное 480х320*/
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
  .top__menu .top__menu__right {
    margin-top: 20px;
    float: none;
    text-align: center;
  }
  .c_fullheight {
    height: auto;
    padding-top: 20px;
  }
  .c_fullheight .header__title__h1 {
    font-size: 1.3em;
    margin: 20px 0;
  }
  .c_fullheight .header__title__h2 {
    display: none;
  }
  .c_fullheight .header__buttons__wrapper {
    margin: 20px 0 0;
  }
  .c_fullheight .header__buttons__wrapper .header__to__order__btn {
    padding: 15px;
    margin: 15px;
  }
  .c_fullheight .header__buttons__wrapper .header__to__order__btn .order__btn__text {
    font-size: 1em;
  }
  .c_block_horizontal {
    flex-direction: column;
  }
}
/* Горизонтальное 360х640 */
/* Вертикальное 640х360 */
@media screen and (min-width: 360px) and (max-width: 640px) and (orientation: portrait) {
  .top__menu .top__menu__right {
    margin-top: 20px;
    float: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .c_fullheight .header__title__h2 {
    display: block;
    font-size: 1.2em;
    margin: 20px 0;
  }
}
/* Горизонтальное 384х640 */
/* Вертикальное 640х384 */
/* Горизонтальное 414x736 iPhone 6 Plus */
@media screen and (max-device-width: 736px) and (max-device-height: 414px) and (orientation: landscape) {
  .c_fullheight {
    height: auto;
  }
  .c_fullheight .header__title__h2 {
    display: none;
  }
  .c_fullheight .header__buttons__wrapper {
    padding-top: 20px;
  }
  .c_fullheight .header__buttons__wrapper .header__to__order__btn {
    padding: 15px;
    margin: 20px 0;
  }
  .white__wrapper {
    display: none;
  }
  .top__menu__left__wrapper .top__menu__left {
    display: flex;
  }
}
/* Вертикальное 740x420 iPhone 6 Plus */
@media screen and (max-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) {
  .c_fullheight {
    height: calc(100vh - 240px);
  }
  .c_fullheight .header__buttons__wrapper {
    margin-top: 20px;
  }
  .c_fullheight .header__buttons__wrapper .header__to__order__btn {
    padding: 20px;
    margin: 20px 0;
  }
}
/* Media */
/* iPad 768px - portrait */
@media screen and (max-width: 1024px) and (max-height: 768px) {
  header.c_fullimgheader .white__wrapper .white__inner__logo {
    bottom: 82px;
  }
}
@media screen and (max-width: 767px), (max-height: 479px) {
  .white__wrapper {
    display: none !important;
  }
  .top__menu__left__wrapper .top__menu__left {
    display: flex !important;
  }
}
@media screen and (max-width: 769px) {
  header.c_fullimgheader .header__inner__content {
    background-color: rgba(0, 0, 0, 0.7);
  }
  header.c_fullimgheader .header__inner__content .top__menu__left__wrapper {
    display: flex;
    justify-content: center;
  }
  header.c_fullimgheader .header__inner__content .top__menu__left__wrapper .top__menu__left {
    display: flex;
  }
  header.c_fullimgheader .header__inner__content .top__menu__left__wrapper .top__menu__left .top__menu__left__desc .top__menu__left__desc__long {
    color: #dff5ff !important;
  }
}
@media screen and (max-width: 63.99rem) {
  header,
  section {
    /*padding: 3.125rem 0;
        border: 10px solid red;*/
  }
  h1 {
    font-size: calc(2.295rem);
  }
  h2 {
    font-size: calc(2.125rem);
  }
  h3,
  .c_process ol li:before,
  .c_process ol li:after {
    font-size: calc(1.36rem);
  }
  .c_content p,
  .c_content li {
    font-size: calc(0.8925rem);
  }
  .c_content .note {
    font-size: calc(0.765rem);
  }
  .c_content .accent {
    font-size: calc(0.935rem);
  }
  .c_content li {
    margin-bottom: calc(8.5px);
  }
  .c_content ul {
    margin-bottom: calc(8.5px);
  }
  .c_fullimgheader .introtext {
    font-size: 1.1rem;
  }
  .c_fullimgheader .c_menu {
    padding-top: 20px;
    /*display: flex;
            align-items: center;*/
  }
  .white__wrapper .white__inner__wrapper .white__inner__logo {
    bottom: 107px;
    left: 90px;
  }
  .c_logo {
    text-align: center;
  }
  .c_block {
    margin-bottom: 40px;
  }
  .top__menu {
    padding-top: 70px;
  }
  .sticky__menu {
    height: 100%;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.85);
  }
  .sticky__menu.sticky__menu__collapsed {
    height: auto;
    background-color: rgba(135, 135, 135, 0.7);
  }
  .sticky__menu.sticky__menu__collapsed:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .sticky__menu.sticky__menu__collapsed .sticky__menu__wrapper {
    overflow: auto;
    height: 0;
  }
  .sticky__menu.sticky__menu__collapsed .sticky__menu__inner {
    display: none;
  }
  .sticky__menu:hover {
    background-color: rgba(0, 0, 0, 0.85);
  }
  .sticky__menu__wrapper {
    height: 100vh;
    overflow: scroll;
    padding: 30px 20px;
  }
  .sticky__menu__inner {
    flex-direction: column;
  }
  .sticky__menu__item {
    padding: 20px 0;
  }
  .sticky__menu__lst {
    margin: 0;
    list-style: none;
    color: inherit;
  }
  .sticky__menu__lst .sticky__menu__lst__i {
    display: block;
    position: relative;
    padding: 10px 0;
    color: inherit;
    z-index: 3;
  }
  .sticky__menu__lst .sticky__menu__lst__i:not(:last-child) {
    padding-bottom: 10px;
    margin-bottom: 40px;
  }
  .sticky__menu__lst .sticky__menu__lst__i:not(:last-child):after {
    content: '';
    display: block;
    border: 1px solid #fff;
    width: 2px;
    height: 40px;
    position: absolute;
    left: 10px;
    top: 100%;
    z-index: 0;
  }
  .sticky__menu__lst .sticky__menu__lst__i:not(:first-child) {
    padding-top: 10px;
  }
  .sticky__menu__lst .sticky__menu__lst__i .sticky__menu__lst__i__a {
    font-size: 14px;
    font-weight: 500;
    color: inherit;
    text-decoration: none;
  }
  .sticky__menu__lst .sticky__menu__lst__i .sticky__menu__lst__i__a:hover {
    text-decoration: none;
  }
  .sticky__menu__title {
    font-size: 18px;
    font-weight: 600;
  }
  .towers .floors__block {
    margin: 20px 0 0;
  }
  .datetime-fieldset .date-fieldset,
  .datetime-fieldset .time-fieldset {
    width: 50%;
  }
}
@media screen and (max-width: 39.9rem) {
  h2 {
    font-size: 1.25rem;
  }
  .c_fullimgheader .header-main-text {
    text-align: center;
  }
  .c_fullimgheader .company__desc {
    display: none;
  }
  .c_fullimgheader .c_topmenu {
    margin-bottom: 0;
    opacity: 0;
  }
  .c_fullimgheader .c_topmenu .top__menu__left {
    display: flex;
  }
  .c_fullimgheader .c_topmenu .c_top_phone {
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .introtext {
    font-size: 0.95em;
  }
  .accent {
    text-align: center;
  }
  .c_process .c_block_horizontal:before {
    width: 3em;
    height: 3em;
    padding: 1.1em;
  }
  .c_process .c_block_horizontal:after {
    left: 1.5em;
    top: 3em;
  }
  .bx-controls:not(.small-directions) {
    display: none;
  }
  .partners-section .bx-viewport {
    height: auto;
  }
  .terms__link {
    display: block;
    text-align: left;
    padding: 10px 0;
  }
  .social__buttons__wrapper {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  .c-img_text .c-img_text-inner {
    flex-direction: column;
    align-items: center;
  }
  .c-img_text .c-img_text-inner .c-img_text-text-wrapper {
    padding: 20px 0 0;
  }
  footer .small-12 {
    text-align: center;
  }
  footer .small-12 + .small-12 {
    margin-top: 15px;
  }
}
@media screen and (max-width: 50rem) {
  header,
  section {
    /*border: 10px solid blue;*/
  }
  section {
    padding-top: calc(48px);
    padding-bottom: calc(48px);
  }
  h1 {
    font-size: calc(2.16rem);
  }
  h2 {
    font-size: calc(2rem);
  }
  h3,
  .c_process ol li:before,
  .c_process ol li:after {
    font-size: calc(1.28rem);
  }
  .c_title {
    font-size: calc(0.96rem);
  }
}
@media screen and (max-width: 39.99rem) {
  header,
  section {
    /*border: 10px solid white; */
  }
  section {
    padding-top: calc(36px);
    padding-bottom: calc(36px);
  }
  h1 {
    font-size: calc(1.62rem);
  }
  h2 {
    font-size: calc(1.5rem);
  }
  h3,
  .c_process ol li:before,
  .c_process ol li:after {
    font-size: calc(0.96rem);
  }
  .c_title {
    font-size: calc(0.72rem);
  }
  .white__wrapper {
    display: none;
  }
  .presentation-block,
  .information-block {
    margin-bottom: 40px;
  }
  .map__wrapper {
    pointer-events: none;
  }
  .towers .floors__block .floors__lst .floors__lst__i {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    margin: 0 10px 10px 0;
    float: none;
    clear: both;
  }
  .towers .floors__block .floors__lst .floors__lst__i:before {
    margin: 0;
  }
  .towers .floors__block .floors__lst .floors__lst__i.active-floor:before {
    background-color: #878787;
  }
  .panoramas {
    display: none;
  }
  .panoramas__slider__caption {
    min-height: 0;
    padding: 15px;
    font-size: 13px;
  }
  .conference {
    height: 800px;
    /* margin:0;
   padding:0;
   height:0;
   clear: both;*/
  }
  .conference:after {
    content: '';
    display: block;
    clear: both;
  }
  .conference__i {
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
  }
  .conference__i__caption__wrapper {
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .conference__i__caption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 870px;
    min-height: 50px;
    padding: 20px 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
  }
  .conference__column {
    width: 50%;
    height: 100%;
    padding: 20px;
    color: #FFFFFF;
  }
  .conference__column p {
    margin: 10px 0;
  }
  .conference__column .column__header-first {
    font-size: 52px;
    font-weight: 800;
    line-height: 1;
    margin: 10px 0;
  }
  .conference__column .column__header-second {
    font-size: 22px;
    font-weight: 600;
  }
  .conference__column .column__header-third {
    font-size: 16px;
    font-weight: 600;
  }
  .conference__column .column__introtext {
    color: #EBEBEB;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .conference__column .column__conditions {
    color: #EBEBEB;
    font-size: 12px;
  }
  .conference__column.left__column {
    padding-right: 10px;
  }
  .conference__column.right__column {
    padding-left: 10px;
  }
  .conference__column .column__regular {
    font-size: 1rem;
    font-weight: 500;
  }
  .conference__inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .conference__tabs__wrapper {
    max-width: 870px;
    width: 100%;
  }
  .conference__tabs__wrapper .tabs {
    border: none;
    background: transparent;
  }
  .conference__tabs__content {
    flex-direction: column;
  }
  .conference__tabs__column {
    width: 50%;
    height: 100%;
    padding: 20px;
    color: #FFFFFF;
    width: 100%;
    padding: 0 10px;
  }
  .conference__tabs__column p {
    margin: 10px 0;
  }
  .conference__tabs__column .column__header-first {
    font-size: 52px;
    font-weight: 800;
    line-height: 1;
    margin: 10px 0;
  }
  .conference__tabs__column .column__header-second {
    font-size: 22px;
    font-weight: 600;
  }
  .conference__tabs__column .column__header-third {
    font-size: 16px;
    font-weight: 600;
  }
  .conference__tabs__column .column__introtext {
    color: #EBEBEB;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .conference__tabs__column .column__conditions {
    color: #EBEBEB;
    font-size: 12px;
  }
  .conference__tabs__column.left__column {
    padding-right: 10px;
  }
  .conference__tabs__column.right__column {
    padding-left: 10px;
  }
  .conference__tabs__column .column__regular {
    font-size: 1rem;
    font-weight: 500;
  }
  .conference__tabs__column.right__column {
    text-align: center;
  }
  .conference__tabs__column.left__column {
    padding-bottom: 10px;
  }
  .conference__tabs__column .column__header-first {
    font-size: 24px;
  }
  .conference__tabs__column .column__regular {
    padding: 10px 0;
  }
  .conference__tabs__column button.button {
    padding: 15px;
    margin: 10px 0;
  }
  .conference input,
  .conference textarea {
    margin-bottom: 10px !important;
  }
  .modal__overlay {
    background-color: #000000;
  }
  .modal__overlay .close-button {
    top: 1em;
    right: 1em;
    width: 2em;
    height: 2em;
  }
  .modal__image {
    padding: 20px 10px;
  }
  .datetime-fieldset .date-fieldset,
  .datetime-fieldset .time-fieldset {
    width: 50%;
    float: none;
    display: block;
  }
}
@media screen and (max-width: 1024px) {
  .centered-column {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
  }
  .centered-column:last-child {
    float: none !important;
  }
  .offices__lst .offices__lst__i + .offices__lst__i {
    margin-top: 20px;
  }
}
@media screen and (max-width: 640px) {
  .offices__slider__i__caption {
    flex-direction: column;
  }
  .offices__slider__i__caption .offices__slider__column {
    width: 100%;
  }
  .offices__slider__i__caption .offices__slider__column .column__header-first {
    font-size: 2rem;
  }
  .offices__slider__i__caption .offices__slider__column .column__header-third {
    font-size: 0.875 rem;
  }
}
@media screen and (max-height: 520px) {
  .arrow_wrapper .arrow {
    display: none;
  }
  .map__wrapper {
    pointer-events: none;
  }
}
@media screen and (max-height: 480px) {
  .c_fullimgheader {
    min-height: inherit;
  }
  .c_fullimgheader .header-main-text {
    line-height: 1;
    font-size: calc(1.8em);
    text-align: center;
  }
  .c_fullimgheader .introtext {
    display: none;
  }
  .c_fullimgheader .center .button {
    margin: 0;
  }
}
@media screen and (max-width: 410px) {
  .horizontal__blocks .horizontal__blocks__i .c_block_horizontal .c_blokhead {
    float: none;
    margin: auto;
    width: auto;
  }
  .horizontal__blocks .horizontal__blocks__i .c_block_horizontal .c_blockcontent,
  .horizontal__blocks .horizontal__blocks__i .c_block_horizontal .c_blockcontent > * {
    text-align: center;
  }
}
@media screen and (max-height: 380px) {
  .c_fullimgheader .header-main-text {
    line-height: 1;
    font-size: calc(1.8em);
  }
  .c_fullimgheader .introtext,
  .c_fullimgheader a.arrow {
    display: none;
  }
  .c_fullimgheader .center .button {
    margin: 0;
  }
}
@media screen and (max-height: 380px) and (orientation: landscape) {
  .c_fullheight {
    height: auto;
  }
  .c_fullheight .header__title__h1 {
    font-size: 1.5em;
    margin: 10px 0;
  }
  .c_fullheight .header__title__h2 {
    display: none;
  }
  .c_fullheight .header__buttons__wrapper .header__to__order__btn {
    margin: 0;
    padding: 10px;
  }
  .c_fullheight .header__buttons__wrapper .order__btn__text {
    font-size: 0.95em;
    margin: 5px 0;
  }
  .c_top_phone {
    margin-top: 10px;
  }
  .c_top_phone .c_top_small_desc {
    padding-top: 0 !important;
  }
  .c_logo .c_top_small_desc {
    display: none;
  }
}
@media screen and (max-height: 320px) and (max-width: 570px) and (orientation: landscape) {
  .c_fullimgheader .top__menu__left__wrapper {
    width: 60%;
  }
  .c_fullimgheader .top__menu__right__wrapper {
    width: 40%;
  }
  .c_fullimgheader .c_fullheight {
    height: auto;
  }
  .c_fullimgheader .c_fullheight .header__title__h1 {
    font-size: 1.3em;
    margin: 10px 0;
    line-height: 1;
  }
  .c_fullimgheader .c_fullheight .header__title__h2 {
    display: none;
  }
  .c_fullimgheader .c_fullheight .header-main-text {
    line-height: 1;
    font-size: 1.4em;
    margin-bottom: 20px;
  }
  .c_fullimgheader .c_fullheight .introtext,
  .c_fullimgheader .c_fullheight a.arrow {
    display: none;
  }
  .c_fullimgheader .c_fullheight .center.button_scroll {
    margin-top: 0;
  }
  .c_fullimgheader .c_fullheight .center.button_scroll .button {
    margin: 0;
    padding: 15px;
  }
  .c_fullimgheader .c_fullheight .header__buttons__wrapper {
    margin: 0;
  }
  .c_fullimgheader .c_fullheight .header__buttons__wrapper .header__to__order__btn {
    padding: 10px;
    margin: 10px;
  }
  .c_fullimgheader .c_fullheight .header__buttons__wrapper .order__btn__text {
    font-size: 0.95em;
    margin: 0;
  }
}
@media screen and (max-height: 320px) and (max-width: 570px) and (orientation: portrait) {
  .c_fullimgheader .c_fullheight .center.button_scroll {
    margin-bottom: 0;
  }
}
@media screen and (max-height: 320px) {
  .c_fullimgheader .c_fullheight {
    height: calc(100vh - 140px);
  }
  .c_fullimgheader .c_topmenu .c_logo img {
    height: 40px;
  }
  .c_fullimgheader .c_topmenu .c_top_phone {
    margin-top: 10px;
    font-size: 1.3em;
  }
  .c_fullimgheader .c_topmenu .c_top_phone .c_top_small_desc {
    padding-top: 0;
  }
  .c_fullimgheader .c_fullheight .header-main-text {
    font-size: 1.3em;
    margin-bottom: 20px;
  }
  .c_fullimgheader .c_fullheight .button_scroll {
    margin-top: 0 !important;
  }
  .c_fullimgheader .c_fullheight .button_scroll .button {
    padding: 10px !important;
  }
}
