<header class="c_fullimgheader dark" style="background-image: url('[[*image]]')">
  <div class="mask">
    <div class="top__menu row">
      <div class="column large-6 medium-6 small-12 top__menu__left__wrapper">
        <div class="top__menu__left">
          <div class="top__menu__left__logo" style="background-image: url('[[*logo]]')"></div>
          <div class="top__menu__left__desc">
            <div class="top__menu__left__desc__long">[[*longtitle]]</div>
          </div>
        </div>
      </div>
      <div class="column large-6 hide-for-small hide-for-medium">
        <div class="top__menu__right">
          <div class="top__menu__right__phone">[[++contactphone]]</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column small-12 medium-10 large-10 small-centered c_fullheight">
        <div class="header-block_inner row">
          <div class="column large-8 medium-12 small-12">
            <h1 class="header__title__h1">Ваш современный офис <br> с парковкой во Владивостоке</h1>
            <p class="introtext">International Bayview Towers - деловой центр, соответствующий международным стандартам,
              предъявляемым к офисным зданиям класса А. Успейте подать заявку на аренду офиса до 31 мая, чтобы иметь
              возможность...</p>
          </div>
          <div class="column large-8 hide-for-medium hide-for-small">
            <div class="center margin_top_big">
              <a href="#request" class="button calltoaction scroll"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#advantages" title="Ключевые преимущества" class="arrow scroll"></a>
  </div>
</header>