<template>
  <div class="row">
    <div class="column small-12 medium-12 large-7">
      <img class="towers__image" :src="image"/>
      <div class="tower" v-for="(tower, index) in towers" @click="activeTower = index + 1"></div>
    </div>
    <div class="column small-12 medium-12 large-5" id="floor-schema">
      <div class="row">
        <div class="column small-12 medium-3 large-4 c_process">
          <ol id="floors">
            <li v-for="(floor, id) in activeTowerFloors" :key="floor.id" @click="activeFloor = floor.id + 1"></li>
          </ol>
        </div>
        <div class="column small-12 medium-9 large-8">
          <img :src="activeFloorSchema" alt="floor-schema"/>
          <div class="floor__plan__legend">
            <div class="free-apt"></div>
            <div class="taken-apt"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  
  export default {
    data() {
      return {
        activeFloor: 1,
        activeTower: 1,
        towers: Towers,
        image: TowerImage
      }
    },
    computed: {
      activeTowerFloors() {
        return this.towers[activeTower].floors;
      },
      activeFloorSchema() {
        return this.activeTowerFloors[activeFloor].image;
      }
    }
  }
</script>